<template>
  <div class="login-page" style="backgroundImage:'./test.jpg'">
    <b-container >
      
      <Widget class="mx-auto" style="box-shadow:none" title="" customHeader>
        <div id="logobox" style="text-align:center">
         <img id="logo" src="./image.png">
        </div>
        <h5 class="logo">
        <i class="fa fa-circle text-primary" />
        Protector
        <i class="fa fa-circle text-primary" />
      </h5>
       <h3 class='mt-0' style="text-align:center;">Login to your Web App</h3>
        <form class="mt" @submit.prevent="login">
          <b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
            {{errorMessage}}
          </b-alert>
          <div class="form-group">
              <label>{{$t('form.login')}}</label>
            <input class="form-control no-border" ref="username"
              required type="text" name="username" :placeholder="$t('form.login')" />
          </div>
          <div class="form-group">
              <label>{{$t('form.password')}}</label>
            <input class="form-control no-border" ref="password"
            required type="password" name="password" :placeholder="$t('form.password')" />
          </div>
          <div class="clearfix">
            <div class="btn-toolbar float-right">
             
              <b-button type="submit" size="sm" variant="primary">{{ $t("menu.connexion") }}</b-button>
            </div>
          </div>
          <div class="row no-gutters mt-3">
<!--            <div class="col">-->
<!--              <div class="abc-checkbox">-->
<!--                <input-->
<!--                  type="checkbox"-->
<!--                  id="checkbox"-->
<!--                />-->
<!--                <label for="checkbox" class="text-muted fs-sm">Keep me signed in</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <a class="mt-sm" href="">Trouble with account?</a>-->
<!--            </div>-->
          </div>
        </form>
      </Widget>
    </b-container>
    <footer class="footer">
      2019 &copy; Protector.
    </footer>
  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import model from '@/devupsjs/model';

export default {
  name: 'LoginPage',
  components: { Widget },
  data() {
    return {
      errorMessage: null,
      	image: './test.jpg',
    };
  },
 methods: {
    login() {
      const username = this.$refs.username.value;
      const password = this.$refs.password.value;

      $.post( model.baseurl+'api/agent.connexion', {login: username, password: password})
        .done(( data ) => {
          console.log(data);
          //alert( "Data Loaded: " + data );

          if(JSON.parse(data).success){
            this.$router.push('/app/home');
            localStorage.setItem('protector_session', data)
          }

          this.$refs.username.value = '';
          this.$refs.password.value = '';

        });
      },
      //if (username.length !== 0 && password.length !== 0) {
        //window.localStorage.setItem('authenticated', true);
        //this.$router.push('/app/main/analytics');
      //}
    },
  
  created() {
    //if (window.localStorage.getItem('authenticated') === 'true') {
      //this.$router.push('/app/main/analytics');
    //}
  },
};
</script>

<style src="./Login.scss" lang="scss" scoped />
<style>
.login-page {
  
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
  url('./test.jpg');
}

#logobox{
  height: 100px;
 
}

#logo{
  height: 100%;
}
</style>
