<template>
    <div id="handlesearch" class="relative col-input ">

        <input autocomplete="off" placeholder="Clicker pour selectionner ..." type="text"
               name="name" class="form-control" style="padding-right: 40px"
               id="lastname" v-model="eqname"
               @keyup="findequipment($event)" @focus="showliststatus(true)" />
        <button style="position: absolute; right: 3px; top: 5px" v-if="showlist" type="button" @click="showlist = false" class="btn btn-link">
            <i class="fa fa-close"></i>
        </button>
        <div v-if="showlist" id="search-box" class="absolute setborder" >

            <div class="equipmentlist">
                <span @click="close()" class="btn-close"> </span>
                <ul class="list-group ">
                    <button type="button" v-for="(equipment, $index) in equipments"
                            @click="setequipment(equipment, $index)"
                            class="list-group-item-action list-group-item text-left">
                        <img width="30" v-bind:src="equipment.showcover" /> {{equipment.name}}
                    </button>
                    <p v-if="notfound" class="list-group-item-action list-group-item text-left">
                        Equipment not found in your stock
                        <button type="button" v-if="isprovision" @click="createnewequipment()" >Create it</button>
                    </p>
                </ul>
            </div>
        </div>

    </div>
</template>

<script>
    import model from '@/devupsjs/model';
    import devups from '@/devupsjs/devups';

    export default {
        name: "EquipmentField",
        data() {
            return {
                eqname: "",
                equipments: [],
                datas: [],
                equipment: {},
                selected: false,
                notfound: false,
                showlist: false
            }
        },
        props: ["defaultdata", 'api', 'isprovision'],
        beforeMount(){
        },
        mounted() {

            if(this.defaultdata){
                this.equipments = this.defaultdata;
                this.datas = this.defaultdata;
            }

            if (typeof this.equipment !== "undefined")
                this.eqname = this.equipment.name;

            this.$root.$on("newequipment", (equipment)=>{
                console.log("newequipment on equipment field", equipment);
                this.datas.push(equipment);
                this.equipments.push(equipment);
                this.notfound = false;
            });

        },
        methods: {
            findequipment(e) {

                //$("input[name='equipment_form[name]']").val(this.eqname);
                if (e.target.keyCode === 13 ) { //|| equipment.id
                    return;
                }

                if (this.eqname.length >= 2) {
                    //$("#box-loader").show();
                    var self = this;
                    if (this.datas.length) {
                        this.notfound = false;
                        this.equipments = this.filterrow(this.eqname, this.datas);
                        if (!this.equipments.length) {
                            this.datas = [];
                        }else{
                            return;
                        }
                    }

                    if(this.notfound)
                        return;
                    // else
                    //model._apiget("equipment.find",
                    console.log("find", this.eqname);
                    model._apiget(this.api,
                        {search: devups.escapeHtml(this.eqname), id_agent: model.getLocalSession().agent.id},
                        (response) => {
                            console.log(response);
                            self.showlist = true;
                            self.equipments = response.equipments;
                            self.datas = response.equipments;

                            if(!response.equipments.length)
                                this.notfound = true;
                            else
                                this.notfound = false;

                        })
                } else {
                    if(!this.eqname){
                        this.equipments = [];
                        return;
                    }

                    if (this.datas.length && this.equipments.length) {
                        this.equipments = this.filterrow(this.eqname, this.datas);
                        return;
                    }
                    this.equipments = [];
                    this.datas = [];
                    this.showlist = false;
                    this.notfound = false;
                }
            },
            showliststatus(status) {
                if(this.selected){
                    this.eqname = "";
                    this.selected = false;
                }
                setTimeout(() => {
                    this.showlist = status;
                }, 500)
            },
            setequipment: function (equipment, idx) {
                console.log(equipment);
                if (!equipment.category)
                    equipment.category = {};

                this.showlist = false;
                // this.equipments = [];
                this.eqname = equipment.name;
                this.selected = true;
                this.$emit('select', equipment);

            },
            createnewequipment(){
                this.$root.$emit('createnewequipment', {name: this.eqname});
            },
            close() {

            },

            filterrow(value, dataarray) {
                var filter, filtered = [], tr, td, i, data;

                console.log(dataarray);
                filter = value.toUpperCase();

                for (i = 0; i < dataarray.length; i++) {
                    data = dataarray[i];
                    if (data.name.toUpperCase().indexOf(filter) > -1) {
                        filtered.push(data);
                    }
                }
                return filtered;
            },
        }
    }
</script>

<style scoped>

    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
        z-index: 2;
    }

    .equipmentlist ul li {
        cursor: default;
        padding: 3px;
    }

    .equipmentlist ul li:hover {
        background: #dedede;
    }

    .equipmentlist ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow: auto;
    }

    #search-box {
        padding: 3px;
        width: 100%;
        z-index: 10;
        background: white;
    }

    #box-loader {
        width: calc(100% - 6px);
        height: 50px;
        background: white;
    }

    .setborder {
        border: 1px solid #dedede;
    }

    .equipmentlist {
        margin-top: 5px;
        font-size: 13px;
    }

    #handlesearch {
        min-width: 250px;
        /*overflow: hidden;*/
        margin-bottom: 10px;
    }

    #handlesearch span, .eqname {
        float: left;
        width: 200px;
        overflow: hidden;
    }

    #handlesearch i {
        float: right;
    }
    /*.dv_modal{*/
    /*width: 900px;*/
    /*}*/
    input.color_selected{
        border:none; width: 25px;
        margin-right: 5px;
        cursor: default;
        padding-left: 30px;
    }
    input.tall_selected{
        border: 1px solid #dedede;
        width: 25px;
        padding: 3px;
        margin-right: 5px;
        cursor: default;
    }
    .manage-menu ul {
        list-style: none;
        padding: 0;
    }

    #menulist {
        position: absolute;
        background: white;
        border: 1px solid #dedede;
        width: 100%;
    }

    .manage-menu ul li {
        padding: 6px;
        margin-bottom: 3px;
    }

    .manage-menu ul li:hover {
        background: #dedede;
        cursor: default;
    }
    .equipmentimage small {
        position: absolute;
        bottom: 50px;
        left: 0;
        font-weight: bold;
        display: block;
        background: white;
        padding: 3px;
    }


    @-webkit-keyframes sk-bounce {
        0%, 100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

</style>