<template>

    <Widget title="Equipement" customHeader>

            <b-row>
                <b-col>
<!--                    <Widget title="Equipement" customHeader>-->

                        <h4>Creer un nouvelle equipement</h4>
                        <b-form-row class="mt" @submit.prevent>

                            <div class="form-group col-sm-12 col-md-12">
                                <label>Name</label>
                                <input class="form-control no-border" type="text"
                                       name="name" placeholder="Equipment name" v-model="equipment.name"/>
                            </div>
                            <div class="form-group col-sm-12 col-md-12">
                                <label>Image</label>
                                <b-form-file @change="detectfile" ref="matricule"
                                             class="mb-2"></b-form-file>

                                <b-form-text id="password-help-block">
                                    Equipment image
                                </b-form-text>
                            </div>

                        </b-form-row>

                        <div class="clearfix">
                            <div class="float-right">
                                <b-button variant="success" class="mr-xs"
                                          v-on:click="persist()">
                                    <i class="fa fa-file-import"></i> Save
                                </b-button>
                                <b-button variant="danger" class="mr-xs"
                                          v-on:click="show='close'">Cancel
                                </b-button>
                            </div>
                        </div>

                </b-col>
            </b-row>

    </Widget>
</template>

<script>

    import Widget from '@/components/Widget/Widget';
    import model from '@/devupsjs/model';

    export default {
        name: "EquipmentForm",
        components: {Widget},
        data() {
            return {
                equipment: {},
                image: {},
            }
        },
        props: ["eqpname"],
        beforeMount() {
            this.equipment.name = this.eqpname
        },
        methods: {
            detectfile(e) {
                this.equipment.image = e.target.files[0];

                // todo: implement loader
                console.log(this.newlist)

            },
            persist() {

                var fd = new FormData();
                fd.append("agent_id", model.getLocalSession().agent.id);
                fd.append("name", this.equipment.name);
                fd.append("equipment_form[image]", this.equipment.image);

                model._apipost("equipment.create", fd, (response) => {
                    console.log(response);
                    this.equipment = {};
                    this.$root.$emit("newequipment", response.equipment);
                    this.$emit("created", response.equipment, response.equipementstock)
                })

            }
        }
    }
</script>

<style scoped>

</style>