<template>
    <tr >
        <th>{{affkit.kit.name}}</th>
        <td>{{affkit.quantity}}</td>
        <td>
            <button v-if="affectation.confirmed === false" @click="remove()" class="btn btn-warning btn-xs" type="button">
                <i class="fa fa-minus "></i>
            </button>
            <button v-if="affectation.status >= 1" @click='returnstock'>
                Return
            </button>
        </td>
    </tr>
</template>

<script>
    import model from '@/devupsjs/model';

    export default {
        name: "AffectationKit",
        data (){
            return {
                clientname: "",
                currentaffkit: {},
            }
        },
        props: ['affkit', 'affectation', 'affkitformmodel', 'index'],
        beforeMount(){
            console.log(this.affkit)
            this.currentaffkit = this.affkit;
            this.currentaffkit.affectation = this.affectation;
        },
        mounted(){
            if(!this.affkit.id){
                this.persistaffkit();
            }
            // this.$.$on("newaffectation", ()=>{
            //
            // })
        },
        methods: {

            persistaffkit: function () {
                if(!this.affkit.affectation.id)
                    return;

                model._apipost("affectation-kit.create", model.entitytoformdata(this.affkit, "affectation_kit"), (response) => {
                    console.log(response);
                    this.currentaffkit.id = response.affectation_kit.id;
                    this.$emit ("persisted", response.collection);
                });

            },
            remove(){
                this.$emit("deletekit", this.currentaffkit, this.index)
                //affectationvue.removeaffkit(this.affkit, this.index);
            },
            returnstock(){
                model._apipost("affectation-kit.returnstock", model.entitytoformdata(this.affkit, this.affkitformmodel), (response) => {
                    console.log(response);
                });
            },
            setobsolet(){
                if (!confirm("confirmez !!"))
                    return;

                model._apiget("affectation-kit.setobsolet?id="+this.affectation.id, (response) => {
                    console.log(response);
                });
            }

        }
    }
</script>

<style scoped>

</style>