<template>
    <div class='row'>

        <div class='form-group col-6'>
            <label>{{$t('label.select_kit')}}</label>
            <select class="form-control" @change="quantityavailable()" v-model="affkit.kit">
                <option v-for="option in kits" v-bind:value="option">
                    {{ option.name }}
                </option>
            </select>
        </div>
        <div class='form-group col-4'>
            <label>{{$t('form.quantity')}} [{{ kitavailable }}]</label>
            <input v-model="affkit.quantity" class='form-control'/>
        </div>
        <div class='form-group col-2'>
            <label></label><br>
            <button @click="addaffkit()" class="btn btn-primary" type="button" id='addequip'>+</button>
        </div>
    </div>
</template>

<script>
    import model from '@/devupsjs/model';

    export default {
        name: "AffectationKitForm",
        data() {
            return {
                clientname: "",
                dialog: "",
                affkit: {},
                kitavailable: 0,
            }
        },
        props: ["kits"],
        methods: {
            addaffkit(){

                if (this.affkit.quantity > this.kitavailable) {
                    alert(`only ${this.kitavailable} is available for this kit!`);
                    return 0;
                }

                this.$emit("add", this.affkit, ()=> this.affkit = {})
            },
            quantityavailable: function () {
                model._apiget("kit.availablekit?kit_id=" + this.affkit.kit.id, (response) => {
                    console.log(response);
                    this.kitavailable = response.kitavailable;
                })
            },
        }
    }
</script>

<style scoped>

</style>