<template>
    <div class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>{{ $t("header.you_are_here") }} </b-breadcrumb-item>
            <b-breadcrumb-item active>Employe</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold">
            <img style="width: 30px" src="./../Home/images/bemployes.png"/> Employe
            <!--- <span class="fw-semi-bold">Static</span>--></h2>

        <b-row>

            <b-col lg="4" md="12" class="my-2">
                <b-card no-body>

                    <b-row>
                        <b-col>
                            <Widget v-if="showsiteform" customHeader>
                                <div v-if="newsite">Nouveau Site</div>
                                <div v-if="!newsite">Editer Site</div>
                                <b-form-row class="mt" @submit.prevent>
                                    <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                                      {{errorMessage}}
                                    </b-alert>-->
                                    <div class="form-group col-sm-12 col-md-12">
                                        <input class="form-control no-border" ref="name"
                                               required type="text" name="name" placeholder="Name"
                                               v-model="site.name"/>
                                    </div>

                                </b-form-row>
                                <div class="clearfix">
                                    <div class="float-right">
                                        <b-button variant="success" class="mr-xs"
                                                  v-on:click="addSite()" v-if="newsite"> Add
                                        </b-button>
                                        <b-button variant="success" class="mr-xs"
                                                  v-on:click="editSite()" v-if="!newsite"> Edit
                                        </b-button>
                                        <b-button variant="danger" class="mr-xs"
                                                  v-on:click="showsiteform=false; site.name=''">Cancel
                                        </b-button>
                                    </div>
                                </div>
                            </Widget>
                        </b-col>
                    </b-row>

                    <b-card-body>
                        <div class="clearfix">
                            <div class="float-right">
                                <b-button variant="primary" class="mr-xs"
                                          v-on:click="showsiteform=true; newsite = true">
                                    <i class="fa fa-plus"></i> Ajout Site
                                </b-button>
                            </div>
                            <h3>Liste des sites</h3>
                        </div>

                        <hr>

                        <div class="table-resposive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="hidden-sm-down">Id</th>
                                    <th class="hidden-sm-down">Site</th>
                                    <th class="hidden-sm-down" colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="row in sitelist" :key="row.id" @click="editsiteopen(row)">
                                    <td>{{row.id}}</td>
                                    <td class="text-semi-muted">
                                        {{row.name}}
                                    </td>
                                    <td class="text-semi-muted">
                                        <button @click="showemployee(row)" class="btn btn-primary"> Employee</button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="table-resposive">
                              <b-table
                                    hover :items="sitelist" :fields="site_fields"
                                 class="mt-4" @row-clicked="rowSiteClicked"
                                ></b-table>
                        </div>-->

                    </b-card-body>
                </b-card>
            </b-col>

            <b-col lg="8" md="12" class="my-2">
                <b-card no-body>

                    <Widget v-if="show=='new'" title="Nouveau Employe" customHeader>
                        <b-form-row class="mt" @submit.prevent="login">
                            <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                              {{errorMessage}}
                            </b-alert>-->
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="name">Nom</label>
                                <input class="form-control " ref="name"
                                       required type="text" name="name" placeholder="Name" id="name"
                                       v-model="employe.name"/>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="name">Prénom</label>
                                <input class="form-control " ref="lastname"
                                       required type="text" name="lastname" placeholder="LastName" id="lastname"
                                       v-model="employe.lastname"/>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">

                                <label for="matricule">Matricule</label>
                                <input class="form-control" ref="matricule"
                                       id="matricule"
                                       required type="text" name="matricule"
                                       placeholder="Matricule"
                                       v-model="employe.matricule"/>

                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label for="site">Site</label>
                                <select v-model="employe.site" class="form-control" id="site">
                                    <option v-for="el in sitelist"
                                            :value="el">{{el.name}}
                                    </option>
                                </select>
                            </div>

                        </b-form-row>

                        <div class="clearfix">
                            <div class="float-right">
                                <b-button v-if="newEmp" variant="primary" class="mr-xs"
                                          v-on:click="addEmploye()">Ajouter
                                </b-button>
                                <b-button v-if="!newEmp" variant="primary" class="mr-xs"
                                          v-on:click="updateEmploye()">Mettre à jour
                                </b-button>
                                <b-button variant="danger" class="mr-xs"
                                          v-on:click="show=false">Annuler
                                </b-button>
                            </div>
                        </div>
                    </Widget>

                    <Widget v-if="show=='import'" title="Import Employe" customHeader>
                        <b-alert class="alert-sm" v-bind:variant="alert.variant"
                                 :show="!!alert.show"
                                 v-html="alert.errorMessage">
                        </b-alert>
                        <h4>Type de fichier à importer</h4>
                        <b-form-row class="mt" @submit.prevent>

                            <div class="form-group col-sm-6 col-md-2">
                                <label>
                                    <input class="" value="xlsx" type="radio" name="name"
                                           v-model="filetype"/>
                                    <i class="fa fa-file-excel"></i> Xlsx</label>
                            </div>
                            <div class="form-group col-sm-6 col-md-2">
                                <label>
                                    <input class="" value="csv" type="radio" name="name"
                                           v-model="filetype"/>
                                    <i class="fa fa-file-csv"></i> Csv
                                </label>
                            </div>

                            <div v-if="filetype === 'csv'"
                                 class="form-group col-sm-12 col-md-2">
                                <label>Delimiteur des colonnes</label>
                                <input class="form-control no-border" ref="name" type="text"
                                       name="name" placeholder="Delimiteur"
                                       v-model="delimiter"/>

                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label>Document (.csv / .xlsx)</label>
                                <b-form-file accept=".csv, .xlsx" @change="detectfile" ref="matricule"
                                             class="mb-2"></b-form-file>

                                <b-form-text id="password-help-block">
                                    Le fichier CSV (ou Xlsx) doit avoir 3 colonnes [name, lastname, matricule]
                                </b-form-text>
                            </div>

                        </b-form-row>

                        <div class="clearfix">
                            <div class="float-right">
                                <b-button variant="success" class="mr-xs"
                                          v-on:click="importfile()">
                                    <i class="fa fa-file-import"></i> Import new Employee
                                </b-button>
                                <b-button variant="danger" class="mr-xs"
                                          v-on:click="show='close'">Cancel
                                </b-button>
                            </div>
                        </div>

                    </Widget>

                    <b-card-body>
                        <div class="clearfix">
                            <div class="float-right">
                                <b-button variant="primary" class="mr-xs"
                                          v-on:click="listAllEmployee(); newEmp=true">
                                    Tous les employees
                                </b-button>
                                <b-button variant="primary" class="mr-xs"
                                          v-on:click="show='new'; refresh(); newEmp=true">
                                    <i class="fa fa-plus"></i> Ajout Employe
                                </b-button>
                                <b-button variant="primary" v-on:click="show='import'; newEmp=true" class="mr-xs">
                                    <i class="fa fa-file fa-file-import"></i> Import
                                </b-button>
                            </div>

                            <!--<div class="float-right">

                                    <b-form-select v-model="selectedsite" :options="sitelist" @change="onChange($event)" text-field="name">
                                        <template v-slot:first>
                                            <option :value="null" disabled>-- All --</option>
                                        </template>
                                    </b-form-select>

                            </div>-->
                            <h3><span v-if="selectsite.name">{{selectsite.name}} /</span> Liste des employes</h3>
                        </div>
                        <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;" label="Large Spinner"></b-spinner>
                        <b-table hover responsive :items="employeell.listEntity" :fields="fields"
                                 @row-clicked="rowEmployeClicked"
                                 class="mt-4">
                            <template v-slot:cell(site)="data" :variant="info">
                                {{ data.name }}
                            </template>
                        </b-table>
                        <b-pagination
                                v-model="employeell.current_page"
                                :total-rows="employeell.nb_element"
                                :per-page="employeell.per_page"
                                aria-controls="my-table"
                                @change="loadTable"
                        ></b-pagination>
                    </b-card-body>

                </b-card>
            </b-col>
        </b-row>

    </div>
</template>

<script>

    import 'imports-loader?$=jquery,this=>window!messenger/build/js/messenger'; // eslint-disable-line
    import $ from 'jquery';
    import jszip from 'jszip';
    import XLSX from 'xlsx';
    import Vue from 'vue';
    import model from '@/devupsjs/model';
    import Widget from '@/components/Widget/Widget';
    import 'imports-loader?jQuery=jquery,this=>window!jquery-sparkline'; // eslint-disable-line

    const { Messenger } = window;

    export default {
        name: 'Employe',
        components: {Widget},
        data() {
            return {
                spinner: true,
                employeell: {},
                sitelist: [],
                selectsite: {},
                selectedsite: null,
                site: {}, newlist: [], csvfile: {},
                alert: {show: false, variant: 'success', errorMessage: "no error"},
                filetype: "xlsx",
                delimiter: ",",
                showsiteform: false, show: false, showimport: false, indexemp: null,
                employe: {id: '', name: '', matricule: ''},
                fields: ['id', 'name', 'lastname', 'matricule'],
                site_fields: [
                    {key: 'id', label: 'Id'},
                    {key: 'name', label: 'Site'},
                ],
                newEmp: false,
                locationClasses: 'messenger-fixed messenger-on-top messenger-on-right',
                //toast : {}
            };
        },
        methods: {
            makeToast(message, title = "", append = true) {
                //this.toastCount++

                Messenger.options = {
                    extraClasses: 'messenger-fixed messenger-on-top messenger-on-right',
                    theme: 'air',
                };
                Messenger().post({
                    title: title,
                    message: message,
                    type: 'success',
                    showCloseButton: true
                });

                // this.$bvToast.toast(message, {
                //     title: title,
                //     toaster: 'b-toaster-top-right',
                //     variant: 'success',
                //     autoHideDelay: 5000,
                //     appendToast: append
                // })
            },
            callbackimport(response) {
                // todo: end loader
                console.log(response);
                if (response.success) {
                    this.alert.show = true;
                    this.alert.errorMessage = `le document a ete importe avec success. <a href="javascript:window.location.reload()" >cliquer pour recharger la page</a>`;
                    response.employees.forEach((el) => {
                        this.list.push(el);
                    });

                }
            },
            onChange(event) {

                alert(this.selectedsite);
                console.log(this.selectedsite);
            },
            importfile() {

                if (Object.entries(this.csvfile).length === 0) {
                    alert('Please insert a spreadsheet to import!');
                    return;
                }


                // todo: implement loader
                console.log(this.csvfile.files[0].name);
                var extension = this.csvfile.files[0].name.split('.').pop();
                console.log(extension);

                if (extension != 'csv' && extension != 'xlsx') {
                    alert('Please insert a file with the correct extension');
                    return;

                }

                if (this.filetype === "xlsx") {

                    var dataraw = {
                        agent_id: model.getLocalSession().agent.id,
                        agent: model.getLocalSession().agent,
                        employees: []
                    };

                    this.newlist.forEach((item) => {
                        item.agent = dataraw.agent;
                        item.site = this.selectsite;
                        dataraw.employees.push(model.entitytoformentity(item))
                    });

                    console.log(JSON.stringify(dataraw));
                    model._apipost("employee.importxlsx", JSON.stringify(dataraw), this.callbackimport);
                    return;
                }
                var fd = new FormData();
                fd.append("agent_id", model.getLocalSession().agent.id);
                fd.append("employee.form[delimiter]", this.delimiter);
                fd.append("employee.form[importdocument]", this.csvfile.files[0]);

                model._apipost("employee.import", fd, this.callbackimport)

            },
            detectfile(e) {
                var self = this;
                this.csvfile = e.target;
                console.log(e.target);
                var reader = new FileReader();

                reader.onload = function (e) {
                    var data = e.target.result;
                    var workbook = XLSX.read(data, {
                        type: 'binary'
                    });

                    workbook.SheetNames.forEach((sheetName) => {
                        // Here is your object
                        //var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                        var XL_row_object = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
                        var json_object = JSON.stringify(XL_row_object);
                        console.log(XL_row_object);

                        self.newlist = XL_row_object;

                    })

                };

                reader.onerror = function (ex) {
                    console.log(ex);
                };

                reader.readAsBinaryString(e.target.files[0]);

            },
            parseDate(date) {
                const dateSet = date.toDateString().split(' ');
                return `${date.toLocaleString('en-us', {month: 'long'})} ${dateSet[2]}, ${dateSet[3]}`;
            },
            showemployee(site) {
                // this.toast.title = "Load";
                // this.toast.message = "Employe of "+ site.name;
                this.makeToast("Employe of " + site.name, "Load");

                this.selectsite = site;
                this.loadTable();
            },
            listAllEmployee() {
                this.selectsite = {};
                this.loadTable();
            },
            loadTable(next = 1) {
                var param = "";
                if (this.selectsite.id)
                    param = "&site.id:eq=" + this.selectsite.id;
                this.spinner = true;
                model._apiget('employee.lazyloading?agent.id:eq=' + model.getLocalSession().agent.id + param,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": "10",
                    }, (data) => {
                        console.log(data);
                        this.employeell = data;
                        this.spinner = false;
                    })
            },
            highlight() {
                console.log('yes');
            },
            rowEmployeClicked(item, index, event) {

                console.log(msg)
                this.indexemp = index;
                this.show = 'new';
                this.employe = Object.assign({}, item);
                // this.employe.id = item.id;
                // this.employe.name = item.name;
                // this.employe.matricule = item.matricule;
                this.newEmp = false;
            },
            rowSiteClicked(item, index, event) {
                this.showsiteform = true;
                this.site = item;
                /*this.indexsite = index;
                this.show = 'new';
                this.employe = item;*/
                // this.employe.id = item.id;
                // this.employe.name = item.name;
                // this.employe.matricule = item.matricule;
                this.newsite = false;
            },
            editsiteopen(row) {
                this.showsiteform = true;
                this.site = Object.assign({}, row);
                this.newsite = false;
                console.log(this.site);
            },
            editSite() {
                if (this.site.name == '') {
                    alert('this site must have a name');
                    return;
                }

                var dataraw = {
                    //id: this.employe.id,
                    site: {
                        name: this.site.name,
                        "agent.id": model.getLocalSession().agent.id
                    }
                };


                console.log(JSON.stringify(dataraw));
                if (this.site.id) {
                    model._apipost('site.save?id=' + this.site.id, JSON.stringify(dataraw), (data) => {
                        console.log(data.site);
                        this.site = {};
                        this.showsiteform = false;
                        this.initcomponent();
                    });
                    return;
                }
            },


            refresh() {
                this.employe = {id: '', name: '', matricule: ''}
            },
            addSite() {

                if (this.site.name == '') {
                    alert('this site must have a name');
                    return;
                }
                var dataraw = {
                    //id: this.employe.id,
                    site: {
                        name: this.site.name,
                        "agent.id": model.getLocalSession().agent.id
                    }
                };

                //http://protector.spacekola.com/api/
                console.log(JSON.stringify(dataraw));
                if (this.site.id) {
                    model._apipost('site.save?id=' + this.site.id, JSON.stringify(dataraw), (data) => {
                        console.log(data.site);
                        this.sitelist.push(data.site);
                        this.site = {};
                        this.showsiteform = false;
                    });
                    return;
                }
                model._apipost('site.save', JSON.stringify(dataraw), (data) => {
                    console.log(data.site);
                    this.sitelist.push(data.site);
                    this.site = {};
                    this.showsiteform = false;
                });
            },
            addEmploye() {

                if (!this.employe.site) {
                    alert('Choose a site');
                    return
                }
                if (this.employe.name == '') {
                    alert('The employee should have a name');
                    return
                }
                if (this.employe.matricule == '') {
                    alert('The employee should have a matricule');
                    return
                }

                //http://protector.spacekola.com/api/
                model._apipost('employee.create', {
                    id: this.employe.id,
                    idagent: model.getLocalSession().agent.id,
                    idsite: this.site.id,
                    name: this.employe.name,
                    matricule: this.employe.matricule
                }, (data) => {
                    console.log(data.employee);

                    this.list.push(data.employee);

                    this.employe.name = '';
                    this.employe.matricule = '';
                });
            },
            editEmploye(emp, index) {
                this.show = true;
                this.employe = emp;
            },
            updateEmploye() {
                if (this.employe.site.id == '') {
                    alert('Choose a site');
                    return
                }
                if (this.employe.name == '') {
                    alert('The employee should have a name');
                    return
                }
                if (this.employe.matricule == '') {
                    alert('The employee should have a matricule');
                    return
                }

                $.post(model.baseurl + 'api/employee.update?id=' + this.employe.id, {
                    id: this.employe.id,
                    idsite: this.employe.site.id,
                    name: this.employe.name,
                    matricule: this.employe.matricule
                })
                    .done((data) => {
                        console.log(data);
                        alert("Data Loaded: ", data);

                        this.selectsite = data.employee.site;
                        this.loadTable();

                        this.employe = {};
                    });
            },
            initcomponent() {

                model._apiget('employee.initcomponent?agent.id:eq=' + model.getLocalSession().agent.id,
                    {
                        "dfilters": "on",
                        "next": "1",
                        "per_page": "10",
                    }, (data) => {
                        console.log(data);
                        this.sitelist = data.sitell.listEntity;
                        this.employeell = data.employeell;
                        this.spinner = false;
                    })

            }
        },

        mounted() {
            this.initcomponent();
        },
        created() {
            // initializationMessengerCode();
            // Messenger.options = {
            //     extraClasses: this.locationClasses,
            //     theme: 'air',
            // };
            // Messenger().post('Thanks for checking out Messenger!');
        },
    };
</script>

<style src="./Basic.scss" lang="scss" scoped/>
