<template>

    <b-card :title="employee.name" :sub-title="'Site: '+employee.site.name">
        <b-card-body>
            <h5 class="mb-0">Liste des affectations ({{employee.affectations.length}})</h5>
            <hr>

            <div class="table-resposive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="hidden-sm-down">Id</th>
                        <th class="hidden-sm-down">Date affectation</th>
                        <th class="hidden-sm-down">{{$t("affectation.duration")}}</th>
                        <th class="hidden-sm-down" colspan="2">{{$t('provision.status')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in employee.affectations" :key="row.id" >
                        <td>{{row.id}}</td>
                        <td class="text-semi-muted">
                            {{row.affected_at}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.duration}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.status}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </b-card-body>

    </b-card>

</template>

<script>
    export default {
        name: "EmployeeDetail",
        props:["employee"],
        methods: {

        },
        mounted() {
            console.log(this.$route.id)
        }
    }
</script>

<style scoped>

</style>