<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Protector </title>
    <meta name="description" content="Free & Open Source Vue.js Admin Dashboard Template built with vue-router, vuex and bootstrap 4">
    <meta name="keywords" content="vue admin, vue admin template, vue dashboard, free vue.js admin dashboard, open source vue admin dashboard, vue template">
    <meta name="author" content="Flatlogic LLC">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-cli doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
