<template>
    <div id="dashboard" class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>{{ $t("header.you_are_here") }}</b-breadcrumb-item>
            <b-breadcrumb-item active>{{ $t("module.dashboard") }}</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold">{{ $t("module.dashboard") }}
            <!--- <span class="fw-semi-bold">Static</span>--></h2>

        <b-row>

            <b-col xs='12' lg='4'>
                <b-card>
                    <b-row>
                        <b-col md="4" xs='4'>
                            <img class="" src="./images/baffectation.png">
                        </b-col>
                        <b-col md="8" xs='8'>

                            <h5><span class='fw-semi-bold'>{{ $t("module.affectation") }}</span></h5>

                            <p class="fs-mini text-muted">
                                Contains list of various transfers done from the beginning of time...
                            </p>

                            <div class="float-right float-bottom">
                                <b-button to="/app/affectation" variant="primary" class="mr-xs">{{
                                    $t("module.affectation") }}
                                </b-button>
                            </div>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>

            <b-col xs='12' lg='4'>
                <b-card class="overflow-hidden">
                    <b-row no-gutters>
                        <b-col md="4">

                            <img class="" src="./images/bstock.png">
                            <!--                            <b-card-img src="./images/bstock.png" class="rounded-0"></b-card-img>-->
                        </b-col>
                        <b-col md="8">
                            <h5><span class='fw-semi-bold'>{{ $t("module.stock") }}</span></h5>

                            <p>
                                Display table of the various stocks of he user
                            </p>

                            <div class="float-right float-bottom">
                                <b-button to="/app/stock" variant="primary" class="mr-xs">{{ $t("module.stock") }}
                                </b-button>
                            </div>

                        </b-col>
                    </b-row>
                </b-card>

            </b-col>

            <b-col xs='12' lg='4'>
                <b-card class="overflow-hidden">
                    <b-row no-gutters>
                        <b-col md="4">
                            <img class="" src="./images/bemployes.png">
                            <!--                            <b-card-img src="./images/bemployes.png" class="rounded-0"></b-card-img>-->
                        </b-col>
                        <b-col md="8" xs='8'>

                            <h5><span class='fw-semi-bold'>{{ $t("module.employee") }}</span></h5>

                            <p class="fs-mini text-muted">
                                Display table of the list of employees existing in the system...
                            </p>

                            <div class="float-right float-bottom">
                                <b-button to="/app/employe" variant="primary" class="mr-xs">
                                    {{ $t("module.employee") }}
                                </b-button>
                            </div>
                        </b-col>
                    </b-row>
                </b-card>

            </b-col>

        </b-row>
        <hr>
        <h2 class="page-title fw-semi-bold">{{ $t("module.statistic") }}
            <!--- <span class="fw-semi-bold">Static</span>--></h2>

        <b-row>
            <b-col lg="4" md="12" class="my-2">
                <EquipmentstockList></EquipmentstockList>
            </b-col>
            <b-col lg="8" md="12" class="my-2">
                <div id="chart" class="card"></div>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    // require('../../assets/tables/4.jpg')
    import $ from 'jquery';
    import Vue from 'vue';
    import Widget from '@/components/Widget/Widget';
    import 'imports-loader?jQuery=jquery,this=>window!jquery-sparkline'; // eslint-disable-line
    import VSelect from '@alfsnd/vue-bootstrap-select'
    import EquipmentstockList from "../Stock/EquipmentstockList";
    import ApexCharts from 'apexcharts'

    export default {
        name: 'Home',
        components: {Widget, EquipmentstockList},
        data() {
            return {

            };
        },
        methods: {
            parseDate(date) {
                const dateSet = date.toDateString().split(' ');
                return `${date.toLocaleString('en-us', {month: 'long'})} ${dateSet[2]}, ${dateSet[3]}`;
            },
            checkAll(ev, checkbox) {
                const checkboxArr = (new Array(this[checkbox].length)).fill(ev.target.checked);
                Vue.set(this, checkbox, checkboxArr);
            },
            changeCheck(ev, checkbox, id) {
                this[checkbox][id] = ev.target.checked;
                if (!ev.target.checked) {
                    this[checkbox][0] = false;
                }
            },
            getRandomData() {
                const result = [];

                for (let i = 0; i <= 8; i += 1) {
                    result.push(Math.floor(Math.random() * 20) + 1);
                }

                return result;
            },
            initCharts() {
                const colors = ['#547fff', '#9964e3', '#f55d5d', '#ffc247', '#3abf94'];

                $.each($('.sparkline-chart'), (id, chart) => {
                    $(chart).sparkline(this.getRandomData(), {
                        type: 'bar',
                        barColor: colors[Math.floor(Math.random() * colors.length)],
                    });
                });
            },
        },
        mounted() {
            // this.initCharts();
            var options = {
                chart: {
                    height: 350,
                    type: "line",
                    stacked: false
                },
                dataLabels: {
                    enabled: false
                },
                colors: ['#99C2A2', '#C5EDAC', '#66C7F4'],
                series: [

                    {
                        name: 'Column A',
                        type: 'column',
                        data: [21.1, 23, 33.1, 34, 44.1, 44.9, 56.5, 58.5]
                    },
                    {
                        name: "Column B",
                        type: 'column',
                        data: [10, 19, 27, 26, 34, 35, 40, 38]
                    },
                    // {
                    //     name: "Line C",
                    //     type: 'line',
                    //     data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
                    // },
                ],
                stroke: {
                    width: [4, 4, 4]
                },
                plotOptions: {
                    bar: {
                        columnWidth: "20%"
                    }
                },
                xaxis: {
                    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
                },
                yaxis: [
                    {
                        seriesName: 'Column A',
                        axisTicks: {
                            show: true
                        },
                        axisBorder: {
                            show: true,
                        },
                        title: {
                            text: "Columns"
                        }
                    },
                    {
                        seriesName: 'Column A',
                        show: false
                    },
                    // {
                    //     opposite: true,
                    //     seriesName: 'Line C',
                    //     axisTicks: {
                    //         show: true
                    //     },
                    //     axisBorder: {
                    //         show: true,
                    //     },
                    //     title: {
                    //         text: "Line"
                    //     }
                    // }
                ],
                tooltip: {
                    shared: false,
                    intersect: true,
                    x: {
                        show: false
                    }
                },
                legend: {
                    horizontalAlign: "left",
                    offsetX: 40
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);

            chart.render();
        },
    };
</script>

<style src="./Basic.scss" lang="scss" scoped/>
<style>
    .side-image {
        width: 75%
    }

    #dashboard .card {
        min-height: 170px;
    }

</style>