<template>
    <div :class="{root: true, sidebarClose, sidebarStatic}">
        <Sidebar/>

        <div class="wrap">
            <Header/>

            <v-touch class="content" @swipeleft="handleSwipe" @swiperight="handleSwipe"
                     :swipe-options="{direction: 'horizontal', threshold: 100}">
                <router-view/>
                <footer class="contentFooter">
                    Protector - Made by <a href="https://flatlogic.com" rel="nofollow noopener noreferrer"
                                           target="_blank">Sunshine Advisory</a>
                </footer>
            </v-touch>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    import Sidebar from '@/components/Sidebar/Sidebar';
    import Header from '@/components/Header/Header';
    // import Chat from '@/components/Chat/Chat';
    import model from '@/devupsjs/model';

    import './Layout.scss';

    export default {
        name: 'Layout',
        components: {Sidebar, Header, }, // Chat
        methods: {
            ...mapActions(
                'layout', ['switchSidebar', 'handleSwipe', 'changeSidebarActive'],
            ),
        },
        beforeMount() {
            const localsession = model.getLocalSession();
            console.log(localsession);
            if(!localsession)
                this.$router.push('/login');

        },
        computed: {
            ...mapState('layout', {
                sidebarClose: state => state.sidebarClose,
                sidebarStatic: state => state.sidebarStatic,
                // chatOpen: state => state.chatOpen,
            }),
        },
        created() {

            const staticSidebar = JSON.parse(localStorage.getItem('sidebarStatic'));

            if (staticSidebar) {
                this.$store.state.layout.sidebarStatic = true;
            } else if (!this.sidebarClose) {
                setTimeout(() => {
                    this.switchSidebar(true);
                    this.changeSidebarActive(null);
                }, 2500);
            }

            // model._apiget('notification.getunnew?id=', (response)=>{
            //     console.log(response);
            //
            // })

        },
    };
</script>

<style src="./Layout.scss" lang="scss"/>
