<template>
    <b-nav style="position:relative;">
        <b-form @submit.prevent="handleOnKeyUp" class="d-sm-down-none ml-5" inline>
            <b-form-group>
                <b-input-group class="input-group-no-border">
                    <div @click="handleOnKeyUp" variant="primary" class="input-group-addon d-flex align-items-center">
                        <i class="la la-search px-3"/>
                    </div>
                    <b-input v-model="searchvalue" id="search-input" placeholder="Recherche Globale ..."/>
                </b-input-group>
            </b-form-group>
        </b-form>
        <b-collapse v-model="showCollapse" id="collapse-1" class="mt-2 collapsestyle">
            <b-card no-body>
                <b-card-header class="d-flex justify-content-between align-items-center">
                    <i class="la la-search px-3"/> Result
                    <b-badge variant="link" @click="showCollapse = false" pill>close</b-badge>
                </b-card-header>
                <b-card v-if="equipmentstocks" no-body header="Equipment in Stock">
                    <b-list-group flush>
                        <b-list-group-item
                                v-for="equipstock in equipmentstocks"
                                :href="'/app/searchdetail/equipmentstock/'+equipstock.id">
                            {{equipstock.equipment.name}}
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
                <b-card v-if="equipmentitems" no-body header="Equipment Item">
                    <b-list-group flush>
                        <b-list-group-item class="d-flex justify-content-between align-items-center"
                                           v-for="equipmentitem in equipmentitems"
                                           :href="'/app/searchdetail/equipmentitem/'+equipmentitem.id">
                            {{equipmentitem.equipementstock.equipment.name}}
                            <b-badge variant="link" pill>{{equipmentitem.code}}</b-badge>
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
                <b-card v-if="employees" no-body header="Employe">
                    <b-list-group flush>
                        <b-list-group-item class="d-flex justify-content-between align-items-center"
                                           v-for="employee in employees"
                                           :href="'/app/searchdetail/employee/'+employee.id">
                            {{employee.name}}
                            <b-badge variant="link" pill>{{employee.matricule}}</b-badge>
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-card>
        </b-collapse>

    </b-nav>
</template>

<script>
    import model from '@/devupsjs/model';
    import devups from '@/devupsjs/devups';

    export default {
        name: "Globalsearch",
        data() {
            return {
                searchvalue: "",
                employees: [],
                equipmentitems: [],
                equipmentstocks: [],
                showCollapse: false
            }
        },
        methods: {
            handleOnKeyUp() {
                if (!this.searchvalue)
                    return 0;

                this.showCollapse = true;
                model._apiget("search.global",
                    {searchvalue: devups.escapeHtml(this.searchvalue), id_agent: model.getLocalSession().agent.id},
                    (response) => {
                        console.log(response);
                        this.employees = response.employees
                        this.equipmentitems = response.equipmentitems
                        this.equipmentstocks = response.equipmentstocks
                    })
            }
        }
    }
</script>

<style scoped>
    .collapsestyle {
        position: absolute;
        top: 50px;
        width: 100%;
    }

    .collapsestyle > .card {
        max-height: 350px;
        overflow-y: auto;
    }
</style>