<template>
    <tr :id="'esr-'+equipementstock.id" :style="rowstyle" >

        <b-tooltip :target="'esr-'+equipementstock.id" triggers="click">
            I am tooltip <b>component</b> content!
        </b-tooltip>

<!--        <td>{{equipementstock.id}}</td>-->

        <td class="text-semi-muted">
            <img v-bind:src="equipementstock.equipment.showcover" width="30" />
            {{equipementstock.equipment.name}}
        </td>
        <td class="text-semi-muted">
            {{equipementstock.quantity}}
        </td>
        <td class="text-semi-muted">
            <b-input-group>
                <b-form-input :readonly="!noteditable" v-model="quantity_alert" type="text" ></b-form-input>
                <b-input-group-append>
                    <b-button v-if="!noteditable" @click="editable(equipementstock)" variant="outline-secondary">
                        <i class="fa fa-edit"></i></b-button>
                    <b-button v-if="noteditable" @click="updateqtyalert(equipementstock)" variant="outline-secondary">
                        <i class="fa fa-check"></i></b-button>
                </b-input-group-append>
            </b-input-group>
        </td>
        <td class="text-semi-muted">
            <b-button-group >
                <b-button @click="exportlifedoc" variant="primary"><i class="fa fa-print"></i> pdf</b-button>
                <b-dropdown variant="primary" right text="">
                    <b-dropdown-item @click="importdoc" variant="primary" ><i class="fa fa-file"></i> Importer les documents liés</b-dropdown-item>
                </b-dropdown>
            </b-button-group>

        </td>

        <b-modal ref="addequipdoc" title="Gestion des documents liés">
            <EquipmentdocImport v-bind:equipmentstock="equipementstock" ></EquipmentdocImport>
        </b-modal>

    </tr>
</template>

<script>
    import model from '@/devupsjs/model';
    import equipmentexport from '@/devupsjs/EquipmentExport';
    import EquipmentdocImport from "../../pages/Stock/EquipmentdocImport";

    export default {
        name: "EquipementstockRow",
        components: {EquipmentdocImport},
        data() {
            return {
                noteditable: false,
                quantity_alert: 0,
                rowstyle:"",
            }
        },
        props: ["equipementstock"],
        mounted(){
            this.quantity_alert = this.equipementstock.quantity_alert;
            this.rowalert();
        },
        methods: {
            showdetail(){

            },
            importdoc(){
                this.$refs['addequipdoc'].show()
            },
            exportlifedoc(){
                model._apiget("equipmentstock.lifecycle?id="+this.equipementstock.id,
                    (response)=>{
                    console.log(response);
                        equipmentexport.lifecycle(
                            response.equipmentstock,
                            response.equipmentitems);
                })
            },
            rowalert() {

                if (this.equipementstock.quantity <= this.quantity_alert) {
                    console.log(`background: #fdd`)
                    this.rowstyle = `background: #fdd`;
                }else if(this.equipementstock.quantity < this.quantity_alert + 5 ){
                    this.rowstyle = `background: #ffd`;
                }
            },
            editable() {
                console.log(this.equipementstock);
                this.noteditable = true;
            },
            updateqtyalert() {

                model._apipost("equipmentstock.updateqtyalert?id=" + this.equipementstock.id,
                    {quantity_alert: this.quantity_alert},
                    (response) => {
                        console.log(response);
                        this.noteditable = false;
                        this.rowalert();
                    }, false)
            },

        }
    }
</script>

<style scoped>

</style>