
<template>
    <tr :style="rowstyle" >
        <td>{{equipementkit.id}}</td>

        <td class="text-semi-muted">
            <img v-bind:src="equipementkit.equipementstock.equipment.showcover" width="30" />
            {{equipementkit.equipementstock.equipment.name}}
        </td>
        <td class="text-semi-muted">
            {{equipementkit.quantity}}
        </td>
        <td class="text-semi-muted">
            {{this.equipementkit.equipementstock.quantity}}
        </td>

    </tr>
</template>

<script>
    export default {
        name: "EquipementkitRow",
        components: {},
        data() {
            return {
                rowstyle:"",
            }
        },
        props: ["equipementkit"],
        mounted(){
            console.log(this.equipementkit)
            this.rowalert();
        },
        methods: {

            rowalert() {
                if (this.equipementkit.equipementstock.quantity < this.equipementkit.quantity) {
                    console.log(`background: #fdd`);
                    this.rowstyle = `background: #fdd`;
                }
            },

        }
    }
</script>

<style scoped>

</style>