<template>
    <div class='row'>

        <div class='form-group  col-sm-12 col-md-6'>
            <label>Equipment</label>
            <EquipmentstockField v-bind:api="apiequipment"
                            v-bind:isprovision="isprovision"
                            v-bind:defaultdata="equipmentstocks"
                            v-on:select="setEquipment"></EquipmentstockField>
        </div>
        <div class='form-group  col-sm-8 col-md-4'>
            <label>{{$t("form.quantity")}} </label>
            <input v-model="equipmentkit.quantity" class='form-control'/>
        </div>
        <div class='form-group  col-sm-6 col-md-2'>
            <label>.</label>
            <button @click="addequipmentkit()" class="btn btn-primary" type="button">+</button>
        </div>
    </div>
</template>

<script>
    import EquipmentstockField from '@/components/Equipment/EquipmentstockField';

    export default {
        name: "EquipmentKitForm",
        components: {
            //Selectize,
            EquipmentstockField
        },
        data() {
            return {
                clientname: "",
                //apiequipment: 'equipment.findinstock',
                dialog: "",
                equipmentkit: {},
                selected: "",
            }
        },
        props: ["equipmentstocks", "apiequipment", "isprovision"],
        methods: {
            setEquipment(data) {
                this.equipmentkit.equipementstock = data;
                //this.equipmentkit.kit = this.kit;

                console.log(data)
            },
            addequipmentkit() {
                //console.log(this.affequipment);
                this.$emit("add", this.equipmentkit, () => this.equipmentkit = {});

            },

        }
    }
</script>

<style scoped>

</style>