<template>
    <b-card no-body >

        <Widget v-if="kitform"
                        title="Nouveau Kit"
                        customHeader
                >
                    <b-form-row class="mt" @submit.prevent >
                        <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                          {{errorMessage}}
                        </b-alert>-->
                        <div  class="form-group col-sm-6 col-md-6">
                            <label>{{$t('kit.name')}}</label>
                            <input class="form-control no-border" ref="name"
                                   required type="text" name="name" placeholder="Name" v-model="kit.name"/>
                        </div>

                        <div class='form-group col-sm-6 col-md-6'>
                            <label>{{$t('kit.quantity_limit')}}</label>
                            <input v-model="kit.quantity_alert" class='form-control'/>
                        </div>

                        <div class='form-group col-sm-12 col-md-12  '>
                            <EquipmentKitForm v-bind:equipmentstocks="equipmentstocklist"
                                              v-bind:apiequipment="'equipment.findinstock'"
                                              v-on:add="addequipmentkit"
                                              class='row'></EquipmentKitForm>

                        </div>

                        <div class='form-group  col-sm-12 col-md-12 '>
                            <label>Collection</label>
                            <div id='equipmentcollection'>
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>{{$t('entity.equipment')}}</th>
                                        <th>{{$t('form.quantity')}}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(equipmentkit, $index) in equipmentkits" >
                                        <th><img v-bind:src="equipmentkit.equipementstock.equipment.showcover" width="30" />
                                            {{equipmentkit.equipementstock.equipment.name}}</th>
                                        <td>{{equipmentkit.quantity}}</td>
                                        <td>
                                            <button @click="removeEk(equipmentkit, $index)" class="btn btn-warning btn-xs" type="button">
                                                <i class="fa fa-minus "></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </b-form-row>

                    <div class="clearfix">
                        <div class="float-right">
                            <b-button variant="success" class="mr-xs" v-on:click="persist()">{{$t('button.save')}}
                            </b-button>
                            <b-button variant="danger" class="mr-xs" v-on:click="kitform=false">{{$t('button.cancel')}}</b-button>
                        </div>

                    </div>

                </Widget>

        <b-card-body>

            <div class="clearfix">
                <div class="float-right mb-3">
                    <b-button variant="primary" class="mr-xs" @click="kitform = true">
                        <i class="fa fa-plus"></i> {{$t("button.add_kit")}}
                    </b-button>
                </div>
                <h3>{{$t('kit.available_kit')}}</h3>
            </div>
            <hr>

            <div class="table-resposive">
                <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;" label="Large Spinner"></b-spinner>
                <b-table :items="kitll.listEntity" :fields="fields" :tbody-tr-class="rowalert"
                         @row-clicked="rowClicked" striped responsive="sm">

                    <template v-slot:row-details="row">
                        <b-card>
                            kit detail
                            <table class="table">
                                <tr >
                                    <td>#</td>

                                    <td class="text-semi-muted">
                                        {{$t("entity.equipment")}}
                                    </td>
                                    <td class="text-semi-muted">
                                        {{$t("kit.quantity_needed")}}
                                    </td>
                                    <td class="text-semi-muted">
                                        {{$t("kit.quantity_available")}}
                                    </td>
                                </tr>
                                <tbody>
                                <tr is="EquipementKitRow" v-for="equipementkit in row.item.equipementkits"
                                    v-bind:equipementkit="equipementkit"
                                    :key="equipementkit.id"></tr>
                                </tbody>
                            </table>

                        </b-card>
                    </template>
                </b-table>
            </div>

        </b-card-body>
    </b-card>
</template>

<script>

    import model from '@/devupsjs/model';
    import Widget from '@/components/Widget/Widget';
    import EquipmentKitForm from "./EquipmentKitForm"; // eslint-disable-line
    import EquipementKitRow from "./EquipementkitRow"; // eslint-disable-line

    export default {
        name: "KitManager",
        components: {EquipmentKitForm, EquipementKitRow, Widget},
        data(){
            return{
                spinner: true,
                kitform: false,
                kit: {},
                kitll: {},
                fields: ['id', 'name',
                    { key: 'availablekit', label: 'Available Kit' },
                    { key: 'quantity_alert', label: 'Qté Lmt' },
                ],
                equipmentkits: [],
            }
        },
        props: ["equipmentstocklist"],
        methods:{
            rowClicked(item, index, event) {
                if(item._showDetails)
                    item._showDetails = false;
                else
                    item._showDetails = true;

                // we block the api call if the is already data in array
                if(item.equipementkits.length)
                    return;

                model._apiget('kit.detail?id='+item.id, (response)=>{
                    console.log(response);
                    item.equipementkits = response.equipementkits;
                });

            },
            rowalert(row){
                console.log(row);
                if(row.availablekit <= row.quantity_alert) {
                    return `table-danger`;
                }else if(row.availablekit <= row.quantity_alert + 5){
                    return `table-warning`;
                }
                return "";
            },
            addequipmentkit(ek, callback){
                console.log(ek);
                ek.kit = this.kit;
                if(ek.kit.id){
                    var rowdata = {"equipementkit": model.entitytoformentity(ek)};
                    model._apipost("equipementkit.create",
                        JSON.stringify(rowdata),
                        (response) => {
                            console.log(response);
                            this.equipmentkits.push(response.equipmentkit);
                            callback();
                        });
                }else{
                    this.equipmentkits.push(ek);
                    callback();
                }

            },
            persist(){

                if(this.kit.id){
                    // todo: implement update
                    model._apipost("kit.update&id="+this.kit.id,
                        JSON.stringify(model.entitytoformentity({"kit": this.kit})),
                        (response) =>{
                        console.log(response);
                        this.kitform = false;
                        // todo: close the form
                        this.kit = response.kit;
                    })
                }else{
                    var rawdata = {
                        "kit": model.entitytoformentity(this.kit)
                    };
                    rawdata.agent_id = model.getLocalSession().agent.id;
                    rawdata.equipmentkits = [];
                    this.equipmentkits.forEach((data)=>{
                        rawdata.equipmentkits.push(model.entitytoformentity(data));
                    });
                    console.log(rawdata, JSON.stringify(rawdata));
                    model._apipost("kit.create", JSON.stringify(rawdata), (response) =>{
                        console.log(response.kit);
                        this.kitform = false;
                        this.kitll.listEntity.push(response.kit)
                        // todo: close the form
                    })
                }

            },
            removeEk(ek, index){
                if(ek.id){
                    model._apiget("equipementkit.delete?id="+ek.id, (response)=>{
                        console.log(response);
                        this.equipmentkits.splice(index, 1);
                    })
                }else{
                    this.equipmentkits.splice(index, 1);
                }

            }
        },
        mounted() {
            // http://protector.spacekola.com/
            model._apiget('kit.lazyloading?next=1&per_page=10&dfilters=on&agent.id:eq='+model.getLocalSession().agent.id,
                (data) => {
                console.log(data);
                this.kitll = data;
                this.spinner = false;
            });
        }
    }
</script>

<style scoped>

</style>