<template>
    <div>

        <b-card no-body>

            <b-card-body>

                <b-row>

                    <b-col lg="4" md="12" class="my-2">
                        <b-card no-body>

                            <b-row>
                                <b-col>
                                    <Widget v-if="showproviderform" customHeader>
                                        <div v-if="newprovider">Nouveau Fournisseur</div>
                                        <div v-if="!newprovider">Editer Fournisseur</div>
                                        <b-form-row class="mt" @submit.prevent>
                                            <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                                              {{errorMessage}}
                                            </b-alert>-->
                                            <div class="form-group col-sm-12 col-md-12">
                                                <input class="form-control no-border" ref="name"
                                                       required type="text" name="name" placeholder="Name"
                                                       v-model="provider.name"/>
                                            </div>

                                        </b-form-row>
                                        <div class="clearfix">
                                            <div class="float-right">
                                                <b-button variant="success" class="mr-xs"
                                                          v-on:click="addProvider()" v-if="newprovider"> Add
                                                </b-button>
                                                <b-button variant="success" class="mr-xs"
                                                          v-on:click="editProvider()" v-if="!newprovider"> Edit
                                                </b-button>
                                                <b-button variant="danger" class="mr-xs"
                                                          v-on:click="showproviderform=false; provider.name=''">Cancel
                                                </b-button>
                                            </div>
                                        </div>
                                    </Widget>
                                </b-col>
                            </b-row>

                            <b-card-body>
                                <div class="clearfix">
                                    <div class="float-right">
                                        <b-button variant="primary" class="mr-xs"
                                                  v-on:click="showproviderform=true; newprovider = true">
                                            <i class="fa fa-plus"></i> Ajouter
                                        </b-button>
                                    </div>
                                    <h3>Liste des Fournisseurs</h3>
                                </div>

                                <hr>

                                <div class="table-resposive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th class="hidden-sm-down">Id</th>
                                            <th class="hidden-sm-down">Provider</th>
                                            <th class="hidden-sm-down" colspan="2">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="row in providerlist" :key="row.id" @click="editprovideropen(row)">
                                            <td>{{row.id}}</td>
                                            <td class="text-semi-muted">
                                                {{row.name}}
                                            </td>
                                            <td class="text-semi-muted">
                                                <button @click="showprovision(row)" class="btn btn-primary"> Provision
                                                </button>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--<div class="table-resposive">
                                      <b-table
                                            hover :items="providerlist" :fields="provider_fields"
                                         class="mt-4" @row-clicked="rowProviderClicked"
                                        ></b-table>
                                </div>-->

                            </b-card-body>
                        </b-card>
                    </b-col>
                    
                    <b-col lg="8" md="12" class="my-2">

                        <b-row>
                            <b-col>
                                <Widget v-if="provisionform"
                                        title="Approvisionnement"
                                        customHeader
                                >
                                    <b-form-row class="mt" @submit.prevent>
                                        <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                                          {{errorMessage}}
                                        </b-alert>-->

                                        <div class='form-group  col-sm-12 col-md-4'>
                                            <label>Selectionnez un Fournisseur</label>
                                            <select class="form-control" v-model="provision.provider">
                                                <option v-for="provider in providerlist" :value="provider" >{{provider.name}}</option>
                                            </select>
                                        </div>
                                        <div class='form-group col-sm-12 col-md-8'>
                                            <ProvEquipmentForm
                                                    v-bind:equipments="equipmentlist"
                                                    v-bind:isprovision="true"
                                                    v-bind:apiequipment="'equipment.find'"
                                                    v-on:add="addequipment"
                                                    class='row'></ProvEquipmentForm>
                                        </div>

                                        <div class='form-group  col-sm-12 col-md-12 '>
                                            <label>Collection</label>
                                            <div id='equipmentcollection'>
                                                <table class="table ">
                                                    <thead>
                                                    <tr>
                                                        <th>{{$t('entity.equipment')}}</th>
                                                        <th>{{$t('form.quantity')}}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(equipmentprov, $index) in equipmentprovs">
                                                        <th><img v-bind:src="equipmentprov.equipment.showcover" width="30"/>
                                                            {{equipmentprov.equipment.name}}
                                                        </th>
                                                        <td>{{equipmentprov.quantity}}</td>
                                                        <td>
                                                            <button @click="removeEp(equipmentprov, $index)"
                                                                    class="btn btn-warning btn-xs" type="button">
                                                                <i class="fa fa-minus "></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <label>
                                            <input type="checkbox" v-model="provision.confirmed" value="2"> confirmer
                                            l'approvisionnement'
                                        </label>
                                    </b-form-row>

                                    <div class="clearfix">
                                        <div class="float-right">
                                            <b-button variant="success" class="mr-xs" v-on:click="persist()">
                                                <b-spinner v-if="spinnerform" style="width: 2rem; height: 2rem;"
                                                           label="Large Spinner"></b-spinner>
                                                {{$t('button.save')}}
                                            </b-button>
                                            <b-button variant="danger" class="mr-xs" v-on:click="provisionform=false">
                                                {{$t('button.cancel')}}
                                            </b-button>
                                        </div>

                                    </div>

                                </Widget>
                                <hr>
                            </b-col>
                        </b-row>

                        <div class="clearfix">
                            <div class="float-right mb-3">
                                <b-button variant="primary" class="mr-xs" @click="provisionform = true">
                                    <i class="fa fa-plus"></i> {{$t("button.add_provision")}}
                                </b-button>

                            </div>
                            <h3>{{$t("title.provision")}}</h3>
                        </div>
                        <hr>

                        <div class="table-resposive">

                            <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;"
                                       label="Large Spinner"></b-spinner>
                            <div style="overflow-x: auto;" class="table-resposive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <!--                            <th class="hidden-sm-down">Id</th>-->

                                        <th class="hidden-sm-down">{{$t('provision.numbord')}}</th>
                                        <th class="hidden-sm-down">{{$t('provision.provider')}}</th>
                                        <th class="hidden-sm-down">{{$t('provision.status')}}</th>
                                        <!--                            <th class="hidden-sm-down">{{$t('provision.creationdate')}}</th>-->
                                        <th class="hidden-sm-down">{{$t('provision.provisioned_at')}}</th>
                                        <!--<th class="hidden-sm-down">Status</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="row in provisionll.listEntity" :key="row.id">
                                        <!--                            <td>{{row.id}}</td>-->

                                        <td class="text-semi-muted">
                                            {{row.numbord}}
                                        </td>
                                        <td class="text-semi-muted">
                                            {{row.provider.name}}
                                        </td>
                                        <b-td class="text-semi-muted" :variant="status(row).status">
                                            {{status(row).text}}
                                        </b-td>
                                        <!--                            <td class="text-semi-muted">-->
                                        <!--                                {{row.creationdate}}-->
                                        <!--                            </td>-->
                                        <td class="text-semi-muted">
                                            {{row.provided_at}}
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <b-pagination
                                    v-model="provisionll.current_page"
                                    :total-rows="provisionll.nb_element"
                                    :per-page="provisionll.per_page"
                                    aria-controls="my-table"
                                    @change="loadTable"
                            ></b-pagination>
                        </div>

                    </b-col>
                    
                </b-row>

            </b-card-body>

            <b-modal ref="addequip" title="Add Equipment">
                <EquipmentForm v-bind:eqpname="newequipname" v-on:created="equipmentcreated"></EquipmentForm>
            </b-modal>
            <!--            <modal name="hello-world">-->
            <!--                -->
            <!--            </modal>-->
        </b-card>

    </div>
</template>

<script>
    import model from '@/devupsjs/model';
    import Widget from '@/components/Widget/Widget';
    import EquipmentKitForm from "./EquipmentKitForm";
    import EquipmentForm from '@/components/Equipment/EquipmentForm';
    import ProvEquipmentForm from "./ProvEquipmentForm";

    export default {
        name: "Provision",
        components: {ProvEquipmentForm, EquipmentKitForm, Widget, EquipmentForm},
        data() {
            return {
                spinnerform: false,
                spinner: true,
                provisionll: {},
                equipmentprovs: [],
                provisionform: false,
                showproviderform: false,
                showmodal: false,
                provision: {},
                newequipname: "",
                providerlist: [],
                selectprovider: {},
                selectedprovider: null,
                provider: {},
                provider_fields: [
                    {key: 'id', label: 'Id'},
                    {key: 'name', label: 'Provider'},
                ],
            }
        },
        props: ["equipmentlist"],
        methods: {
            equipmentcreated(equipment, equipementstock) {
                console.log(equipment);
                this.$refs['addequip'].hide()
            },
            createnewequipment(equip) {
                this.$refs['addequip'].show()
                console.log(equip)
                this.newequipname = equip.name;
            },
            addequipment(eqp, callback) {
                console.log(eqp);
                eqp.provision = this.provision;
                if (eqp.provision.id) {
                    var rowdata = {"equipementprovision": model.entitytoformentity(eqp)};
                    model._apipost("provisionequipment.create",
                        JSON.stringify(rowdata),
                        (response) => {
                            console.log(response);
                            this.equipmentprovs.push(response.provisionequipment);
                            callback();
                        });
                } else {
                    this.equipmentprovs.push(eqp);
                    callback();
                }

            },
            persist() {

                if (this.provision.confirmed)
                    this.provision.status = 2;
                else
                    this.provision.status = 3;

                this.provision.agent = model.getLocalSession().agent;
                this.provision.stock = model.getLocalSession().stock;
                if (this.provision.id) {
                    // todo: implement update
                    this.spinnerform = true;
                    model._apipost("provision.update&id=" + this.provision.id,
                        JSON.stringify(model.entitytoformentity({"provision": this.provision})),
                        (response) => {
                            console.log(response);
                            this.provisionform = false;
                            this.spinnerform = false;
                            // todo: close the form
                            this.provision = response.provision;
                        })
                } else {
                    if(!this.equipmentprovs.length){
                        alert('Vous devez entrer des équipements!');
                        return;
                    }
                    this.spinnerform = true;
                    // if(!this.provision.length){
                    //     alert('Vous devez entrer des équipements!');
                    //     return;
                    // }
                    var rawdata = {
                        "provision": model.entitytoformentity(this.provision)
                    };
                    rawdata.agent_id = this.provision.agent.id;
                    rawdata.provisionequipments = [];
                    this.equipmentprovs.forEach((data) => {
                        rawdata.provisionequipments.push(model.entitytoformentity(data));
                    });
                    console.log(rawdata, JSON.stringify(rawdata));
                    model._apipost("provision.create",
                        JSON.stringify(rawdata),
                        (response) => {
                            console.log(response.provision);
                            this.spinnerform = false;
                            this.provisionform = false;
                            this.provisionll.listEntity.push(response.provision);

                            if (response.provision.status === 2)
                                this.$emit("persisted");

                            // todo: close the form
                        })
                }

            },
            removeEp(ek, index) {
                if (ek.id) {
                    model._apiget("provisionequipment.delete?id=" + ek.id, (response) => {
                        console.log(response);
                        this.equipmentprovs.splice(index, 1);
                    })
                } else {
                    this.equipmentprovs.splice(index, 1);
                }
            },
            status(row) {

                if (row.status == 2) {
                    return {text: "terminé", status: "success"}

                } else {
                    return {text: "En attente", status: "secondary"}
                }
            },
            loadTable(next = 1) {
                this.spinner = true;
                console.log(next);
                model._apiget('provision.lazyloading?order=creationdate desc&agent.id:eq=' + model.getLocalSession().agent.id,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": "10",
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        console.log(data);
                        this.provisionll = data;
                        this.spinner = false;
                    })
            },
            rowProviderClicked(item, index, event) {
                this.showproviderform = true;
                this.provider = item;
                /*this.indexprovider = index;
                this.show = 'new';
                this.employe = item;*/
                // this.employe.id = item.id;
                // this.employe.name = item.name;
                // this.employe.matricule = item.matricule;
                this.newprovider = false;
            },
            editprovideropen(row) {
                this.showproviderform = true;
                this.provider = Object.assign({}, row);
                this.newprovider = false;
                console.log(this.provider);
            },
            editProvider() {
                if (this.provider.name == '') {
                    alert('this provider must have a name');
                    return;
                }

                var dataraw = {
                    //id: this.employe.id,
                    provider: {
                        name: this.provider.name,
                        "agent.id": model.getLocalSession().agent.id
                    }
                };


                console.log(JSON.stringify(dataraw));
                if (this.provider.id) {
                    model._apipost('provider.save?id=' + this.provider.id, JSON.stringify(dataraw), (data) => {
                        console.log(data.provider);
                        this.provider = {};
                        this.showproviderform = false;
                        this.initcomponent();
                    });
                    return;
                }
            },


            refresh() {
                this.employe = {id: '', name: '', matricule: ''}
            },
            addProvider() {

                if (this.provider.name == '') {
                    alert('this provider must have a name');
                    return;
                }
                var dataraw = {
                    //id: this.employe.id,
                    provider: {
                        name: this.provider.name,
                        "agent.id": model.getLocalSession().agent.id
                    }
                };

                //http://protector.spacekola.com/api/
                console.log(JSON.stringify(dataraw));
                if (this.provider.id) {
                    model._apipost('provider.save?id=' + this.provider.id, JSON.stringify(dataraw), (data) => {
                        console.log(data.provider);
                        this.providerlist.push(data.provider);
                        this.provider = {};
                        this.showproviderform = false;
                    });
                    return;
                }
                model._apipost('provider.save', JSON.stringify(dataraw), (data) => {
                    console.log(data.provider);
                    this.providerlist.push(data.provider);
                    this.provider = {};
                    this.showproviderform = false;
                });
            },
            showprovision(provider) {
                // this.toast.title = "Load";
                // this.toast.message = "Employe of "+ provider.name;
                this.makeToast("Employe of " + provider.name, "Load");

                this.selectprovider = provider;
                this.loadTable();
            },
        },
        mounted() {
            // http://protector.spacekola.com/
            this.loadTable();
            model._apiget('provider.lazyloading?agent.id:eq=' + model.getLocalSession().agent.id,
                {
                    "dfilters": "on",
                    "next": 1,
                    "per_page": "10",
                    //"order": "this.creationdate desc",
                }, (data) => {
                    console.log(data);
                    this.providerlist = data.listEntity;
                    //this.spinner = false;
                });

            this.$root.$on("createnewequipment", (data) => {
                this.createnewequipment(data);
            })
        }
    }
</script>

<style scoped>

</style>