
<template>
    <div class='row'>

        <div class='form-group  col-sm-12 col-md-6'>
            <label>{{$t('entity.equipment')}}</label>
            <EquipmentField v-bind:api="'equipment.find'"
                                 v-bind:isprovision="true"
                                 v-bind:defaultdata="equipments"
                                 v-on:select="setEquipment"></EquipmentField>
        </div>
        <div class='form-group  col-sm-8 col-md-4'>
            <label>{{$t('form.quantity')}} </label>
            <input v-model="provequipment.quantity" class='form-control'/>
        </div>
        <div class='form-group  col-sm-6 col-md-2'>
            <label>.</label>
            <button @click="addprovequipment()" class="btn btn-primary" type="button">+</button>
        </div>
    </div>
</template>

<script>
    import EquipmentField from '@/components/Equipment/EquipmentField';

    export default {
        name: "ProvEquipmentForm",
        components: {
            //Selectize,
            EquipmentField
        },
        data() {
            return {
                clientname: "",
                //apiequipment: 'equipment.findinstock',
                dialog: "",
                provequipment: {},
                selected: "",
            }
        },
        props: ["equipments", "api", "isprovision"],
        methods: {
            setEquipment(data) {
                this.provequipment.equipment = data;
                //this.provequipment.kit = this.kit;

                console.log(data)
            },
            addprovequipment() {
                //console.log(this.affequipment);
                this.$emit("add", this.provequipment, () => this.provequipment = {});

            },

        }
    }
</script>

<style scoped>

</style>