<template>
    <div class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>YOU ARE HERE </b-breadcrumb-item>
            <b-breadcrumb-item>Recherche </b-breadcrumb-item>
            <b-breadcrumb-item active>{{$t("entity."+entity)}}</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold">
            <i class="la la-search px-3 " /> Resultat de recherche / {{$t("entity."+entity)}}
            <!---  {{ $t("menu.longeur") }} <span class="fw-semi-bold">Static</span>--></h2>

        <b-row>
            <b-col>
                <component v-bind:is="currentComponent" v-bind="currentProperties" ></component>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import model from '@/devupsjs/model';
    import devups from '@/devupsjs/devups';
    import employeeDetail from '@/pages/Employe/EmployeeDetail';
    import equipmentstockDetail from '@/pages/Stock/EquipmentstockDetail';
    import equipmentitemDetail from '@/pages/Stock/EquipmentitemDetail';

    export default {
        name: "Searchresult",
        components:{equipmentitemDetail, employeeDetail, equipmentstockDetail},
        data(){
            return {
                currentComponent: "",
                entity: "",
                entityid: "",
                response: {},
            }
        },
        computed: {
            currentProperties: function() {
                if (this.entity === 'employee') {
                    return { employee: this.response.employee }
                }
                else if(this.entity === 'equipmentitem'){
                    return {
                        equipmentitem: this.response.equipmentitem,
                    }
                }
                else if(this.entity === 'equipmentstock'){
                    return {
                        equipmentstock: this.response.equipmentstock,
                        equipmentitems: this.response.equipmentitems
                    }
                }
            }
        },
        methods : {

        },
        mounted() {
            this.entity = this.$route.params.entity;
            this.entityid = this.$route.params.id;

            model._apiget(this.entity+'.detail?id='+this.entityid, (response)=>{
                console.log(response);
                this.response = response;
                this.currentComponent = this.entity+"Detail"
            });

        }
    }
</script>

<style scoped>

</style>