<template>
    <div class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>YOU ARE HERE </b-breadcrumb-item>
            <b-breadcrumb-item active>Affectation</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold">
            <img style="width: 30px" src="./../Home/images/baffectation.png"/> Resultat de recherche
            <!---  {{ $t("menu.longeur") }} <span class="fw-semi-bold">Static</span>--></h2>

        <b-row>
            <b-col>
                <b-card v-if="equipmentstocks" no-body header="Equipment in Stock">
                    <b-list-group flush>
                        <b-list-group-item
                                v-for="equipstock in equipmentstocks"
                                :href="'/app/employee/'+equipstock.equipment.id" >
                            {{equipstock.equipment.name}}
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
                <hr>
                <b-card v-if="employees" no-body header="Employe">
                    <b-list-group flush>
                        <b-list-group-item
                                v-for="employee in employees"
                                href="#">
                            {{employee.name}}
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import model from '@/devupsjs/model';
    import devups from '@/devupsjs/devups';
    export default {
        name: "Searchresult",
        data(){
            return {
                searchvalue: "",
                employees: [],
                equipmentstocks: [],
            }
        },
        methods: {

        },
        mounted() {
            this.searchvalue = this.$route.params.searchvalue;
            console.log(this.searchvalue)

            if(!this.searchvalue)
                return 0;

            this.showCollapse = true;
            model._apiget("search.global",
                {searchvalue: devups.escapeHtml(this.searchvalue), id_agent: model.getLocalSession().agent.id},
                (response)=>{
                    console.log(response);
                    this.employees = response.employees
                    this.equipmentstocks = response.equipmentstocks
                })

        }
    }
</script>

<style scoped>

</style>