<template>
    <div class='row'>

        <div class='form-group col-6'>
            <label>{{$t('entity.equipment')}}</label>
            <EquipmentField v-bind:api="apiequipment"  v-bind:defaultdata="equipments" v-on:select="setEquipment" ></EquipmentField>
            
        </div>
        <div class='form-group col-4'>
            <label>{{$t('form.quantity')}} [{{affequipment.equipementstock.quantity}}]</label>
            <input v-model="affequipment.quantity" class='form-control'/>
        </div>
        <div class='form-group col-2'>
            <label></label><br>
            <button @click="addaffequipment()" class="btn btn-primary" type="button" >
                +
            </button>
        </div>
    </div>
</template>

<script>

import Vue from 'vue';
import EquipmentField from '@/components/Equipment/EquipmentField';

    export default {
        components: {
            //Selectize,
            EquipmentField
        },
        name: "AffectationEquipmentForm",
        data() {
            return {
                clientname: "",
                apiequipment: 'equipment.findinstock',
                dialog: "",
                affequipment: {equipementstock: {}},
                selected:"",
                settings: {
                    options: []
                },
                equipments: []
               
            }
        },
        props: ["equipmentstocks"],
        beforeMount(){
            this.equipmentstocks.forEach((val) =>{
                this.equipments.push(val.equipment);
            })
            //equipments
        },
        methods: {
            setEquipment(data){
                this.equipmentstocks.forEach((val) =>{
                    if(val.equipment.id === data.id){
                        this.affequipment.equipementstock = val;
                        this.affequipment.cover = val.equipment.showcover;
                        return 0;
                    }
                });

                console.log( data)
            },
            addaffequipment(){
                //console.log(this.affequipment);
                this.$emit("add", this.affequipment, ()=> this.affequipment = {equipementstock: {}})
            },

        }
    }
</script>

<style scoped>
</style>