<template>
    <tr style="position: relative" v-bind:style="custstyle()">
        <th><img v-bind:src="affequipment.cover" width="30"/> {{affequipment.label}}</th>
        <td>{{affequipment.quantity}}</td>
        <td v-if="affectation.status >= 1">

            <b-button-group >
                <b-button :id="'validation-'+affequipment.id" variant="primary"
                          v-if="!currentAffequipment.isobsolete && !currentAffequipment.returned ">
                    mettre en rebut
                </b-button>
                <b-dropdown variant="primary" right text="" >
                    <b-dropdown-item @click="showdetail" variant="primary" >
                        <i class="fa fa-eye"></i> detail item
                    </b-dropdown-item>
                    <b-dropdown-item  v-if="affectation.status >= 1
                    && (!currentAffequipment.isobsolete && !currentAffequipment.returned) && !affequipment.equipementkit.id"
                                      @click="returnstock" variant="primary" >
                            {{$t('button.return')}}
                    </b-dropdown-item>
<!--                    <b-dropdown-item v-if="currentAffequipment.isobsolete" @click="newaffectation()" variant="primary" >-->
<!--                            New affectation-->
<!--                    </b-dropdown-item>-->
                </b-dropdown>
            </b-button-group>

            <span v-if="currentAffequipment.isobsolete || currentAffequipment.returned">
                {{currentAffequipment.isobsolete? 'En rebut': 'Retourné'}}</span>

            <b-popover :show.sync="showpopover" v-if="!currentAffequipment.isobsolete"
                       :target="'validation-'+affequipment.id"
                       placement="right" variant="danger" triggers="focus">
                <template v-slot:title>Confirmer la mise en rebut</template>
                <b-button variant="danger" @click='setobsolete'>Oui confirmer</b-button>
                <b-button @click="showpopover = !showpopover">Non annuler</b-button>
            </b-popover>

            <b-modal ref="detailequipment" title="Detail Equipement">
                <b-card :title="affequipment.label" tag="article" class="mb-2">
                    <b-card-text>

                        <b-button @click="returnstockitems()" variant="primary">return</b-button>
                        <b-button @click="setobsoleteitems()" variant="primary">rebut</b-button>
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(affequipmentitem, $i) in affequipmentitems">
                                <td><input v-if="!affequipmentitem.rebut && !affequipmentitem.returned " type="checkbox"
                                           name="itemcollection" v-model="itemcollection"
                                           v-bind:value="affequipmentitem.id"></td>
                                <td>{{affequipmentitem.equipmentitem.code}}</td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </b-card-text>

                    <b-button @click="showdetail" href="#" variant="primary">{{$t('button.close')}}</b-button>
                </b-card>
            </b-modal>

<!--            <Widget v-if="showitems" class="Widget" title="Detail Affection" customHeader></Widget>-->

        </td>
        <td>
            <button v-if="affectation.confirmed === false && !affequipment.equipementkit.id"
                    @click="remove()" class="btn btn-warning btn-xs" type="button">
                <i class="fa fa-minus "></i>
            </button>
        </td>
    </tr>
</template>

<script>
    /* eslint-disable */

    import Widget from '@/components/Widget/Widget';
    import model from '@/devupsjs/model';

    export default {
        name: "AffectationEquipment",
        components: {Widget},
        data() {
            return {
                showpopover: false,
                showitems: false,
                clientname: "",
                affequipmentitems: [],
                itemcollection: [],
                dialog: "",
                currentAffequipment: {},
            }
        },
        props: ['affequipment', 'affectation', 'dialogbox', 'index'],
        beforeMount() {
            //this.dialog = this.dialogbox;
            console.log(this.affequipment)
            this.currentAffequipment = this.affequipment;
            this.currentAffequipment.affectation = this.affectation;
        },
        methods: {
            showdetail() {

                if (this.showitems)
                    //this.showitems = false;
                    this.$refs['detailequipment'].hide();
                else
                    this.$refs['detailequipment'].show();
                    //this.showitems = true;

                if (this.affequipmentitems.length)
                    return 0;

                model._apiget("affectation-equipment.detail?id=" + this.affequipment.id,
                    (response) => {
                        this.affequipmentitems = response.affequipmentitems;
                        console.log(response);
                    });

            },
            persistaffequipment: function () {
                // si l'affectation n'a pas encore ete creé
                if (!this.affectation.id || this.affequipment.id)
                    return;

                model._apipost("affectation-equipment.create",
                    model.entitytoformdata(this.affequipment, "affectation_equipment"),
                    (response) => {
                        this.currentAffequipment.id = response.affectation_equipment.id;
                        console.log(response);
                    });

            },
            remove() {

                this.$emit("deleteequip", this.currentAffequipment, this.index)
                // affectationvue.removeaffequipment(this.affequipment, this.index);

            },
            returnstock() {

                model._apiget("affectation-equipment.returnstock?id=" + this.affequipment.id,
                    (response) => {
                        console.log(response);
                        this.currentAffequipment = response.affectation_equipment;
                        this.itemcollection = [];
                    }, false);

            },
            returnstockitems() {

                if (!this.itemcollection.length) {
                    alert("you must choose items to return");
                    return;
                }

                model._apipost("affectation-equipmentitem.returnstock?affequip_id=" + this.affequipment.id,
                    {itemcollection: this.itemcollection.join()},
                    (response) => {
                        console.log(response);
                        this.affequipmentitems = response.affequipmentitems;
                        this.itemcollection = [];
                    }, false);

            },
            newaffectation() {
                //affectationvue.setNewaffectation(this.affequipment);
            },
            setobsolete() {

                model._apiget("affectation-equipment.setobsolete?id=" + this.affequipment.id,
                    (response) => {
                        console.log(response);
                        this.currentAffequipment = response.affectation_equipment;
                        this.showpopover = false;
                        this.itemcollection = [];
                    }, false);

            },
            setobsoleteitems() {
                console.log(this.itemcollection)

                if (!this.itemcollection.length) {
                    alert("you must choose items to rebute");
                    return;
                }

                model._apipost("affectation-equipmentitem.setobsolete?affequip_id=" + this.affequipment.id,
                    {itemcollection: this.itemcollection.join()},
                    (response) => {
                        console.log(response);
                        this.affequipmentitems = response.affequipmentitems;
                        this.itemcollection = [];
                    }, false);

            },
            custstyle() {
                //v-bind:style="custstyle"
                if (this.affequipment.isobsolete)
                    return 'background: #fed';

                return "";
            }

        },

        mounted() {
            if (!this.affequipment.id) {
                this.persistaffequipment();
            }
        }
    }
</script>

<style scoped>
    .Widget {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
    }
</style>