<template>
    <div class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>{{ $t("header.you_are_here") }}</b-breadcrumb-item>
            <b-breadcrumb-item active>{{ $t("module.stock") }}</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold"><i class="fa fa-line-chart" style="color:rgb(0,89,155)"></i> {{ $t("module.stock") }}
            <!--- <span class="fw-semi-bold">Static</span>--></h2>

        <b-card no-body>
            <b-tabs >

                <b-tab :title="$t('tab.manage_equipment')" active>

                        <b-row>

                            <b-col lg="7" md="12" class="my-2">
                                <b-card  no-body >
                                    <b-card-body>
                                        <div class="clearfix">
                                            <h3>{{$t("label.equipment_in_stock")}}</h3>
                                        </div>

                                        <hr>

                                        <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;"
                                                   label="Large Spinner"></b-spinner>
                                        <div class="table-resposive">
                                            <div style="overflow-x: auto;" class="table-resposive">
                                                <table class="table  ">
                                                    <thead>
                                                    <tr>
    <!--                                                    <th class="hidden-sm-down">Id</th>-->
                                                        <th class="hidden-sm-down">{{$t("equipmentstock.equipmentname")}}</th>
                                                        <th class="hidden-sm-down">{{$t("equipmentstock.quantity")}}</th>
                                                        <th class="hidden-sm-down">{{$t("equipmentstock.quantity_limit")}}</th>
                                                        <th class="hidden-sm-down">Fiche de vie</th>
                                                        <!--<th class="hidden-sm-down">Status</th>-->
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr is="EquipementstockRow" v-for="row in equipstockll.listEntity"
                                                        v-bind:equipementstock="row"
                                                        :key="row.id">
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <b-pagination
                                                    v-model="equipstockll.current_page"
                                                    :total-rows="equipstockll.nb_element"
                                                    :per-page="equipstockll.per_page"
                                                    aria-controls="my-table"
                                                    @change="loadTable"
                                            ></b-pagination>
                                        </div>

                                    </b-card-body>
                                </b-card>
                            </b-col>

                            <b-col lg="5" md="12" class="my-2">
                                <KitManager v-bind:equipmentstocklist="equipstockll.listEntity"></KitManager>
                            </b-col>
                        </b-row>

                </b-tab>

                <b-tab :title="$t('tab.manage_provision')">
                    <Provision v-on:persisted="loadTable(1)" v-bind:equipmentlist="equipmentlist"></Provision>
                </b-tab>

            </b-tabs>
        </b-card>

    </div>

</template>

<script>
    // import $ from 'jquery';
    // import Vue from 'vue';
    import Widget from '@/components/Widget/Widget';
    import model from '@/devupsjs/model';
    import Provision from '@/components/Provision/Provision';
    import 'imports-loader?jQuery=jquery,this=>window!jquery-sparkline';
    import KitManager from "@/components/Provision/KitManager"; // eslint-disable-line
    import EquipementstockRow from "../../components/Provision/EquipementstockRow"

    export default {
        name: 'Stock',
        components: {KitManager, Widget, Provision, EquipementstockRow},
        data() {
            return {
                equipstockll: {},
                kitlist: [],
                provlist: [],
                equipmentlist: [],
                newKit: false,
                spinner: true,
            };
        },
        methods: {
            makeToast(message, title = "", append = true) {
                //this.toastCount++
                this.$bvToast.toast(message, {
                    title: title,
                    toaster: 'b-toaster-top-right',
                    variant: 'success',
                    autoHideDelay: 5000,
                    appendToast: append
                })
            },
            parseDate(date) {
                const dateSet = date.toDateString().split(' ');
                return `${date.toLocaleString('en-us', {month: 'long'})} ${dateSet[2]}, ${dateSet[3]}`;
            },

            loadTable(next = 1) {
                this.spinner = true;
                console.log(next);
                model._apiget('equipmentstock.lazyloading?stock.id:eq=' + model.getLocalSession().stock.id,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": 10,
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        //console.log(data);
                        this.equipstockll = data;
                        this.spinner = false;
                    })
            },
            equipStock() {
                model._apiget('equipmentstock.initcomponent?stock.id:eq=' + model.getLocalSession().stock.id, {
                    next: 1,
                    per_page: 10,
                    dfilters: 'on',
                    //"": model.getLocalSession().stock.id,
                }, (data) => {
                    console.log(data);
                    this.spinner = false;
                    this.equipstockll = data.equipstockll;
                    this.equipmentlist = data.equipmentlist

                    //console.log(this.equipmentlist);
                    //this.$root.$emit("initequipmentlist", data.equipmentlist);

                })
                // this.$http.get('http://protector.spacekola.com/api/equipmentstock.initcomponent?next=1&per_page=10&dfilters=on&stock.id:eq=5').then(function (data) {
                //
                // })
            },
            kit() {

            },
            provisions() {
            }
        },
        mounted() {

            this.equipStock();
            // this.kit();
            // this.provisions();
        },
    };
</script>

<style src="./Basic.scss" lang="scss" scoped/>
