<template>

    <b-card :title="equipmentstock.equipment.name" >
        <b-card-body>
            <h5 class="mb-0">Liste des Equipements ({{equipmentitems.length}})</h5>
            <hr>

            <div class="table-resposive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="hidden-sm-down">Id</th>
                        <th class="hidden-sm-down">Code</th>
                        <th class="hidden-sm-down">{{$t("equipmentitem.purchasedate")}}</th>
                        <th class="hidden-sm-down" >{{$t('equipmentitem.firstusedate')}}</th>
                        <th class="hidden-sm-down" >{{$dt('equipmentitem.rebutdate')}}</th>
                        <th class="hidden-sm-down" >{{$t('equipmentitem.nb_user')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in equipmentitems" :key="row.id" >
                        <td>{{row.id}}</td>
                        <td class="text-semi-muted">
                            {{row.code}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.purchasedate}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.firstaffectation.creationdate}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.rebutdate}}
                        </td>
                        <td class="text-semi-muted">
                            {{row.nbaffectations}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </b-card-body>

    </b-card>

</template>

<script>
    export default {
        name: "EquipmentstockDetail",
        props:['equipmentstock', 'equipmentitems'],
        methods:{

        },
        mounted() {
            console.log(this.equipmentitems)
        }
    }
</script>

<style scoped>

</style>