<template>
    <b-card no-body :title="equipmentstock.equipment.name">
        <b-card-body>
            <b-card title="Import Document">
                <b-alert class="alert-sm" v-bind:variant="alert.variant"
                         :show="!!alert.show"
                         v-html="alert.errorMessage">
                </b-alert>
                <b-form-row class="mt" @submit.prevent>

                    <div class="form-group col-sm-12 col-md-12">
                        <label>Document (.pdf / .docx)</label>
                        <b-form-file accept=".pdf, .docx" @change="detectfile" ref="document"
                                     class="mb-2"></b-form-file>

                        <b-form-text id="password-help-block">
                            Le fichier doit peser moins de 3 Mo
                        </b-form-text>
                    </div>

                    <div class="form-group col-sm-12 col-md-12">
                        <label>Nom du document</label>
                        <input class="form-control" type="text"
                               name="name" placeholder="Nom du document"
                               v-model="equipmentdoc.documentname" />
                    </div>

                </b-form-row>

                <div class="clearfix">
                    <div class="float-right">
                        <b-button variant="success" class="mr-xs"
                                  v-on:click="importfile()">
                            <i class="fa fa-file-import"></i> Import new Document
                        </b-button>
                        <b-button variant="danger" class="mr-xs"
                                  v-on:click="show='close'">Cancel
                        </b-button>
                    </div>
                </div>

            </b-card>

            <h5 class="mb-0">Liste des Documents liés ({{equipmentdocll.nb_element}})</h5>
            <hr>

            <div class="table-resposive">
                <div style="overflow-x: auto" class="table-resposive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="hidden-sm-down">Id</th>
                            <th class="hidden-sm-down">Document</th>
                            <th class="hidden-sm-down">{{$t("form.creationdate")}}</th>
                            <th class="hidden-sm-down">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="row in equipmentdocll.listEntity" :key="row.id">
                            <td>{{row.id}}</td>
                            <td class="text-semi-muted">
                                {{row.documentname}}
                            </td>
                            <td class="text-semi-muted">
                                {{row.creationdate}}
                            </td>
                            <td class="text-semi-muted">
                                <b-button @click="downloaddoc(row)" variant="primary"><i class="fa fa-download"></i>
                                </b-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </b-card-body>

    </b-card>
</template>

<script>

    import model from '@/devupsjs/model';

    export default {
        name: "EquipmentdocImport",
        props: ["equipmentstock"],
        data() {
            return {
                documentfile: {},
                alert: {},
                equipmentdoc: {documentname: ""},
                equipmentdocll: {},
                spinner: true,
            }
        },
        methods: {
            checkextension(file) {
                var extension = file.name.split('.').pop();
                if (extension !== 'pdf' && extension !== 'docx') {
                    alert('Please insert a file with the correct extension');
                    return false;
                }
                return true;
            },
            importfile() {
                if (!this.documentfile) {
                    alert('Please insert a spreadsheet to import!');
                    return;
                }

                this.equipmentdoc.equipementstock = this.equipmentstock;
                var fd = model.entitytoformdata(this.equipmentdoc, 'equipmentdoc');
                fd.append("agent_id", model.getLocalSession().agent.id);
                fd.append("equipmentdoc.form[uri]", this.documentfile);

                model._apipost("equipmentdoc.create", fd, (response) => {
                    console.log(response);
                    this.equipmentdocll.listEntity.push(response.equipmentdoc);
                    this.equipmentdoc = {};
                    this.documentfile = null;
                });

            },
            detectfile(e) {

                this.documentfile = e.target.files[0];
                if (!this.documentfile) {
                    this.equipmentdoc = {};
                    return;
                }
                console.log(this.documentfile);
                var extension = this.documentfile.name.split('.').pop();
                if (extension !== 'pdf' && extension !== 'docx') {
                    alert('Please insert a file with the correct extension');
                    return;
                }

                this.equipmentdoc.documentname = this.documentfile.name;

            },

            downloaddoc(doc) {
                console.log(doc);
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.style = "display: none";
                a.href = doc.uri;
                a.target = '_blank';
                a.download = "" + doc.documentname + "";
                a.click();
                window.URL.revokeObjectURL(doc.uri);

            },

            loadTable(next = 1) {
                this.spinner = true;
                console.log(next);
                model._apiget('equipmentdoc.lazyloading?equipementstock.id:eq=' + this.equipmentstock.id,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": 10,
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        //console.log(data);
                        this.equipmentdocll = data;
                        this.spinner = false;
                    })
            },
        },
        mounted() {
            this.loadTable();
        }
    }
</script>

<style scoped>

</style>