<template>
    <b-card  no-body >
        <b-card-body>
            <div class="clearfix">
                <h3>Disponibilité des équipements</h3>
            </div>

            <hr>

            <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;"
                       label="Large Spinner"></b-spinner>
            <p class="text-muted d-flex flex-wrap">
                <small class="mr-lg d-flex align-items-center">
                    <span class="circle bg-success text-success mr-xs" style="font-size: 4px;">.</span>
                    En stock
                </small>
                <small class="mr-lg d-flex align-items-center">
                    <span class="circle bg-warning text-warning mr-xs" style="font-size: 4px;">.</span>
                    En dotation
                </small>
            </p>

            <div class="table-resposive">
                <div style="overflow-x: auto;" class="table-resposive">
                    <table class="table  ">
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th class="hidden-sm-down">{{$t("equipmentstock.equipmentname")}}</th>-->
<!--                            <th class="hidden-sm-down">{{$t("equipmentstock.quantity")}}</th>-->
<!--                            -->
<!--                        </tr>-->
<!--                        </thead>-->
                        <tbody>
                        <tr v-for="equipementstock in equipstockll.listEntity"
                            :key="equipementstock.id" :id="'esr-'+equipementstock.id" :style="rowalert(equipementstock)" >

                            <td class="text-semi-muted">

                                <h6><img v-bind:src="equipementstock.equipment.showcover" width="30" />
                                    {{equipementstock.equipment.name}}</h6>
                                <b-progress class="mb-xs" style="height: 5px"
                                            variant="success" :value="60" :max="100" />
                                <b-progress class="mb" style="height: 5px"
                                            variant="warning" :value="35" :max="100" />
                            </td>
<!--                            <td class="text-semi-muted">-->
<!--                                {{equipementstock.quantity}}-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <b-pagination
                        v-model="equipstockll.current_page"
                        :total-rows="equipstockll.nb_element"
                        :per-page="equipstockll.per_page"
                        aria-controls="my-table"
                        @change="loadTable"
                ></b-pagination>
            </div>

        </b-card-body>
    </b-card>
</template>

<script>
    import Widget from '@/components/Widget/Widget';
    import model from '@/devupsjs/model';
    import EquipementstockRow from "../../components/Provision/EquipementstockRow"

    export default {
        name: "EquipmentstockList",
        components: {Widget, EquipementstockRow},
        data(){
            return {
                equipstockll:{},
                spinner: true,
            }
        },
        methods:{

            rowalert(equipementstock) {

                if (equipementstock.quantity <= equipementstock.quantity_alert) {
                    console.log(`background: #fdd`)
                    return `background: #fdd`;
                }else if(equipementstock.quantity < equipementstock.quantity_alert + 15 ){
                    return `background: #ffd`;
                }
            },

            loadTable(next = 1) {
                this.spinner = true;
                console.log(next);
                model._apiget('equipmentstock.lazyloading?stock.id:eq=' + model.getLocalSession().stock.id,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": 10,
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        console.log(data);
                        this.equipstockll = data;
                        this.spinner = false;
                    })
            },
        },
        mounted() {
            this.loadTable();
            var options = {
                chart: {
                    type: 'rangeBar'
                },
                series: [{
                    data: [{
                        x: 'TEAM A',
                        y: [1358447400000, 1358620200000]
                    },
                        {
                            x: 'TEAM B',
                            y: [1358447400000, 1358620200000]
                        }]
                }],
                // xaxis: {
                //     categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
                // }
            }

            //var chart = new ApexCharts($("#chart"), options);
            // var chart = new ApexCharts(document.querySelector("#chart"), options);
            //
            // chart.render();

        }
    }
</script>

<style scoped>

</style>