<template>

    <b-card :title="equipmentitem.equipementstock.equipment.name">
        <b-card-body>
            <h3 class="mb-0"> {{equipmentitem.equipementstock.equipment.name}}</h3>

            <hr>

            <div id="eqit" class="table-resposive">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th class="hidden-sm-down">Id</th>
                        <td>{{equipmentitem.id}}</td>
                    </tr>
                    <tr>
                        <th class="hidden-sm-down">Code</th>
                        <td class="text-semi-muted">
                            {{equipmentitem.code}}
                        </td>
                    </tr>
                    <tr>
                        <th class="hidden-sm-down">{{$t("equipmentitem.purchasedate")}}</th>
                        <td class="text-semi-muted">
                            {{equipmentitem.purchasedate}}
                        </td>
                    </tr>
                    <tr>
                        <th class="hidden-sm-down">{{$t('equipmentitem.firstusedate')}}</th>
                        <td class="text-semi-muted">
                            {{equipmentitem.firstaffectation.creationdate}}
                        </td>
                    </tr>
                    <tr>
                        <th class="hidden-sm-down">{{$t('equipmentitem.rebutdate')}}</th>
                        <td class="text-semi-muted">
                            {{equipmentitem.rebutdate}}
                        </td>
                    </tr>
                    <tr>
                        <th class="hidden-sm-down">{{$t('equipmentitem.nb_user')}}</th>
                        <td class="text-semi-muted">
                            {{equipmentitem.nbaffectations}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </b-card-body>

    </b-card>

</template>

<script>
    export default {
        name: "EquipmentitemDetail",
        props: ["equipmentitem"],
        mounted() {
            console.log(this.equipmentitem)
        }
    }
</script>

<style scoped>
    #eqit table th{
        text-align: right;
    }
</style>