<template>
    <router-view/>
</template>

<script>
    import model from '@/devupsjs/model';

    export default {
        name: 'App',
        created() {
            const currentPath = this.$router.history.current.path;

            if (!model.getLocalSession()) {
                //if (window.localStorage.getItem('authenticated') === 'false') {
                this.$router.push('/login');
            }

            if (currentPath === '/' || currentPath === '/app') {
                this.$router.push('/app/home');
            }
        },

    };
</script>

<style src="./styles/theme.scss" lang="scss"/>
<style type="text/css">
    .btn-primary {
        background-color: #00589b;
        border-color: #00589b;
    }

</style>t
