<template>
    <b-row>
        <b-col>
            <Widget title="Detail Affection"
                    customHeader
            >
                <b-form-row class="mt" @submit.prevent >
                    <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                      {{errorMessage}}
                    </b-alert>-->
                    <div class="form-group col-sm-12 col-md-12">

                        <!--                            <b-row class="mt">-->
                        <div class="form-group col-sm-12 col-md-6">
                            <label>{{$t("label.select_employee")}} : {{affectation.employee.name}}</label>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label> {{$t('label.affection_duration')}}: {{affectation.duration}} </label>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <b-button variant="primary" size="sm" @click="pdfdotation()" class="mr-2">
                                <i class="fa fa-print"></i> Fiche dotation pdf
                            </b-button>
<!--                            <b-button type="button" variant="primary" >-->
<!--                                Return all equipment-->
<!--                            </b-button>-->
                        </div>
                        <!--                            </b-row>-->
                    </div>

                    <div class='form-group col-sm-12 col-md-6 '>

                        <div class='form-group col-12'>
                            <label>Collection</label>
                            <!--                                <AffectationKit></AffectationKit>-->
                            <div id='kitcollection'>
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>Kit</th>
                                        <th>{{$t('form.quantity')}}</th>
                                        <th v-if="affectation.status >= 1">action</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr is="AffectationKit" v-for="(affkit, $index) in affkits"
                                        v-bind:affkit="affkit"
                                        v-bind:affectation="affectation"
                                        v-bind:index="$index">
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class='form-group col-sm-12 col-md-6  '>

                        <div class='form-group col-12'>
                            <label>Collection</label>
                            <div id='equipmentcollection'>
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>{{$t('entity.equipment')}}</th>
                                        <th>{{$t('form.quantity')}}</th>
                                        <th v-if="affectation.status >= 1">action</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr is="AffectationEquipment"
                                        v-for="(affequipment, $index) in affequipments"
                                        v-bind:affequipment="affequipment"
                                        v-bind:affectation="affectation"
                                        v-bind:index="$index">
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--                      <div class="clearfix">-->
                    <div class="float-right">
                        <b-button variant="danger" class="mr-xs" v-on:click="closedetail">{{$t('button.close')}}</b-button>
                    </div>
                    <!--                      </div>-->
                </b-form-row>

            </Widget>
        </b-col>
    </b-row>

</template>

<script>
    /* eslint-disable */

    import Widget from '@/components/Widget/Widget';
    import vueResource from 'vue-resource';
    import AffectationKit from '@/components/AffectationKit/AffectationKit';
    import AffectationEquipment from '@/components/AffectationEquipment/AffectationEquipment';
    import model from '@/devupsjs/model';
    import affectationexport from '@/devupsjs/AffectationExport';

    export default {
        name: "AffectationDetail",
        components: {
            Widget, AffectationKit,
            AffectationEquipment, vueResource
        },
        props: ['affectation'],
        data(){
            return {
                affkits: [],
                affequipments: [],
            }
        },
        mounted(){

            model._apiget("affectation.detail?id=" + this.affectation.id, (response) => {
                console.log(response);
                this.affkits = response.affectation_kits;
                this.affequipments = response.affectation_equipments;
            });

        },
        methods:{
            pdfdotation(){
                this.$emit("pdfdotation", this.affectation);
            },
            closedetail(){
                // todo: clase detail
                this.$emit("closedetail")
            }
        }
    }
</script>

<style scoped>

</style>