<template>
    <div class="tables-basic">
        <b-breadcrumb>
            <b-breadcrumb-item>{{ $t("header.you_are_here") }} </b-breadcrumb-item>
            <b-breadcrumb-item active>Affectation</b-breadcrumb-item>
        </b-breadcrumb>
        <h2 class="page-title fw-semi-bold">
            <img style="width: 30px" src="./../Home/images/baffectation.png"/> Affectation
            <!---  {{ $t("menu.longeur") }} <span class="fw-semi-bold">Static</span>--></h2>
        <b-row>
            <b-col lg="12">
                <Widget v-if="show"
                        title="Nouveau Affection"
                        customHeader
                >
                    <b-form-row class="mt" @submit.prevent="persist">
                        <!--<b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                          {{errorMessage}}
                        </b-alert>-->
                        <div class="form-group col-sm-12 col-md-4">

                            <!--                            <b-row class="mt">-->
                            <div class="form-group col-sm-12">
                                <label>{{$t("label.select_employee")}}</label>
                                <select class="form-control" v-model="affectation.employee">
                                    <option v-for="option in employees" v-bind:value="option">
                                        {{ option.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-8">
                                <label> {{$t('label.affection_duration')}} </label>
                                <input class="form-control no-border" ref="duration"
                                       required type="text" name="duration" placeholder="Duration"
                                       v-model="affectation.duration"/>
                            </div>
                            <!--                            </b-row>-->
                        </div>

                        <div class='form-group col-sm-12 col-md-4 '>

                            <AffectationKitForm v-if="!affectation.confirmed"
                                                v-bind:kits="kits"
                                                v-on:add="addaffkit"
                                                class='row'></AffectationKitForm>

                            <div class='form-group col-12'>
                                <label>Collection</label>
                                <!--                                <AffectationKit></AffectationKit>-->
                                <div id='kitcollection'>
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>Kit</th>
                                            <th>{{$t('form.quantity')}}</th>
                                            <th v-if="affectation.status >= 1">returned</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr is="AffectationKit" v-for="(affkit, $index) in affkits"
                                            v-on:deletekit="removeaffkit"
                                            v-on:persisted="equipmentbuilded"
                                            v-bind:affkit="affkit"
                                            v-bind:affectation="affectation"
                                            v-bind:affkitformmodel="affkitformmodel"
                                            v-bind:index="$index">
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class='form-group col-sm-12 col-md-4  '>
                            <AffectationEquipmentForm v-if="!affectation.confirmed"
                                                      v-bind:equipmentstocks="equipmentstocks"
                                                      v-on:add="addaffequipment"
                                                      class='row'></AffectationEquipmentForm>

                            <div class='form-group col-12'>
                                <label>Collection</label>
                                <div id='equipmentcollection'>
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>{{$t('entity.equipment')}}</th>
                                            <th>{{$t('form.quantity')}}</th>
                                            <th v-if="affectation.status >= 1">returned</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr is="AffectationEquipment"
                                            v-on:deleteequip="removeaffequipment"
                                            v-for="(affequipment, $index) in affequipments"
                                            v-bind:affequipment="affequipment"
                                            v-bind:affectation="affectation"
                                            v-bind:index="$index">
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class='form-group col-12'>
                            <label >
<!--                                v-if="affectation.status < 2"-->
                                <input type="checkbox" v-model="affectation.confirmed" value="1"> confirmer la dotation
                            </label>
                        </div>

                        <div v-if="affectation.confirmed" class='form-group col-12'>
                            <div class='alert alert-primary'>
                                Une foix la dotation confirmée, vous ne pourrez plus faire de modifications!
                            </div>
                        </div>
                        <div v-if="!affectation.confirmed" class='form-group col-12'>
                            <div class='alert alert-primary'>
                                les quantites en stock ne seront pas affectées
                            </div>
                        </div>
                        <!--                      <div class="clearfix">-->
                        <div class="float-right">
                            <button @click="persist($event)" v-if="affectation.confirmed"
                                    class="btn btn-success  mr-xs">
                                Effectuer l'affectation
                            </button>

                            <button @click="persist($event)" v-if="!affectation.confirmed"
                                    class="btn btn-success mr-xs">
                                Enregistrer le brouillon
                            </button>
                            <b-button variant="danger" class="mr-xs" v-on:click="show=false">Cancel</b-button>
                        </div>
                        <!--                      </div>-->
                    </b-form-row>

                </Widget>
            </b-col>
        </b-row>

        <b-card >
        <b-row>
            <b-col lg="12" md="12" xl="12">

                    <div class="clearfix">
                        <div class="float-right">
                            <b-button @click="pdfgen" variant="primary" class="mr-xs"><i class="fa fa-print"></i> Export
                                pdf
                            </b-button>
                            <b-button @click="_new" variant="primary" class="mr-xs"><i class="fa fa-plus"></i>
                                {{$t('button.new_affectation')}}
                            </b-button>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-inline">
                            <div class="form-group">
                                <datepicker format="yyyy-MM-dd" placeholder="Date début" v-model="filter.datestart"></datepicker>
                            </div>
                            <div class="form-group">
                                <datepicker placeholder="Date fin" v-model="filter.dateend" format="yyyy-MM-dd" ></datepicker>
                            </div>
                            <b-button @click="filteraction()" variant="primary" class="mr-xs"><i class="fa fa-search"></i>
                                Filtrer
                            </b-button>
                        </div>
                    </div>

                    <div class="table-resposive">
                        <b-spinner v-if="spinner" style="width: 2rem; height: 2rem;" label="Large Spinner"></b-spinner>
                        <b-table hover responsive :items="affectationll.listEntity" :fields="fields" :tbody-tr-class="rowClass">
                            <template v-slot:cell(duration)="data">
                                <b-td>{{data.item.duration}} <small>{{ getDuration(data.item) }}</small></b-td>
                            </template>
<!--                            <template v-slot:cell(status)="data">-->
<!--                                <b-th variant="returnvar(data.item.status)">{{ data.item.status }}</b-th>-->
<!--                            </template>-->
                            <template v-slot:cell(action)="row">
                                <b-button-group >
                                    <b-button variant="primary" size="sm" @click="pdfdotation(row.item)" class="mr-2">
                                        <i class="fa fa-print"></i> Fiche dotation pdf
                                    </b-button>
                                    <b-dropdown variant="primary" right text="" >
                                        <b-dropdown-item v-if="row.item.status == 0" @click="_edit(row.item, row.index)" variant="primary" >
                                            <i class="fa fa-edit"></i> Edit</b-dropdown-item>
                                        <b-dropdown-item  v-if="row.item.status >= 1" @click="_return(row.item, row.index)" variant="primary" >
                                            <i class="fa fa-eye"></i> Voir les Détails</b-dropdown-item>
                                        <!--                    <b-dropdown-item @click="showdetail" variant="primary" ><i class="fa fa-eye"></i> Detail</b-dropdown-item>-->
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item></b-dropdown-item>
                                    </b-dropdown>
                                </b-button-group>
                            </template>
<!--                            <template v-slot:cell(edit)="row">-->
<!--                                -->
<!--                            </template>-->

                            <template v-slot:row-details="row">
                                <AffectationDetail v-on:closedetail="_return(row.item)" v-on:pdfdotation="pdfdotation" v-bind:affectation="row.item" ></AffectationDetail>
                            </template>

                        </b-table>

                        <b-pagination
                                v-model="affectationll.current_page"
                                :total-rows="affectationll.nb_element"
                                :per-page="affectationll.per_page"
                                aria-controls="my-table"
                                @change="loadTable"
                        ></b-pagination>
                    </div>

            </b-col>
        </b-row>
        </b-card>
    </div>
</template>

<script>
    /* eslint-disable */

    import $ from 'jquery';
    import Vue from 'vue';
    import Widget from '@/components/Widget/Widget';
    import AffectationKit from '@/components/AffectationKit/AffectationKit';
    import AffectationKitForm from '@/components/AffectationKit/AffectationKitForm';
    import AffectationEquipment from '@/components/AffectationEquipment/AffectationEquipment';
    import AffectationEquipmentForm from '@/components/AffectationEquipment/AffectationEquipmentForm';
    import model from '@/devupsjs/model';
    import devups from '@/devupsjs/devups';
    import affectationexport from '@/devupsjs/AffectationExport';
    import 'imports-loader?jQuery=jquery,this=>window!jquery-sparkline'; // eslint-disable-line
    import vueResource from 'vue-resource';
    import AffectationDetail from "./AffectationDetail";
    import Datepicker from 'vuejs-datepicker';

    Vue.use(vueResource);

    export default {
        name: 'Affectation',
        components: {
            AffectationDetail, Datepicker,
            Widget, AffectationKit, AffectationKitForm,
            AffectationEquipment, AffectationEquipmentForm, vueResource
        },
        data() {
            return {
                agent: model.getLocalSession().agent,
                show: false,
                currentAffIndex: null,
                spinner: true,
                filter: {},
                affectationll: {},
                fields: [
                    // 'id',
                    {key: 'affected_at', label: this.$t("affectation.affected_at")},
                    {key: 'employee.name', label: this.$t("affectation.employee")},
                    {key: 'duration', label: this.$t("affectation.duration")},//_rowVariant: 'danger'
                    // {key: 'status', label: this.$t("provision.status")},//_rowVariant: 'danger'
                    'action'],
                newAffect: false,
                affectation: {},
                employees: [],
                equipmentstocks: [],
                kits: [],
                affkits: [],
                affkit: {},
                //dialogbox: {open: false, confirm: function(){}, reject: function(){this.open = false;}, content: ""},
                affequipments: [],
                affequipment: {},
                affectationmodel: {},
                affkitformmodel: {},
                affequipformmodel: {},
            };
        },
        methods: {
            filteraction(next = 1){
                this.spinner = true;
                console.log(devups.formatDate(new Date(this.filter.datestart)))
                model._apiget('affectation.lazyloading?agent_id=' + model.getLocalSession().agent.id,
                    {
                        //"dfilters": "on",
                        "next": next,
                        "per_page": "10",
                        "datestart": devups.formatDateOnly(new Date(this.filter.datestart)),
                        "dateend": devups.formatDateOnly(new Date(this.filter.dateend)),
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        console.log(data);
                        this.affectationll = data;
                        this.spinner = false;
                    })
            },
            _return (item){
                console.log(item);
                if(item['_showDetails'])
                    item['_showDetails'] = false;
                else
                    item['_showDetails'] = true;

            },
            getRemainingtime(item) {

                let date1 = new Date(item.affected_at)
                let date2 = new Date(item.currentdate)

                var months;

                months = (date2.getFullYear() - date1.getFullYear()) * 12;

                if(months>0){
                    months -= date1.getMonth() + 1;
                    months += date2.getMonth();
                }else{
                    months = date2.getMonth() - date1.getMonth();
                }

                return item.duration - months; // item.duration -

            },
            getDuration(item) {
                if (item.status === 0)
                    return "";

                let remainmonth = this.getRemainingtime(item);
                return `(${remainmonth} restant)`;
            },
            rowClass(item, type) {
                if (item.status === 0)
                    return "";

                let remainmonth = this.getRemainingtime(item);

                if (remainmonth <= 0) return 'table-danger'
                else if (remainmonth <= 3) return 'table-warning'
                else return ''

            },
            pdfgen: function () {
                var affectationids = [];
                this.affectationll.listEntity.forEach((aff)=>{
                    affectationids.push(aff.id);
                });

                model._apipost('affectation.fulllist',
                    {"affectationids": affectationids.join()},
                    (data) => {
                        console.log(data);
                        affectationexport.listpdf(data.affectations);
                    }, false)

            },
            pdfdotation: function (aff) {
                console.log(aff)
                model._apiget("affectation.detail?pdf=yes&id=" + aff.id, (response) => {
                    console.log(response);
                    affectationexport.dotationpdf(
                        response.affectation,
                        response.affectation_kits,
                        response.affectation_equipments,
                        response.image
                    );
                })
            },
            _new() {
                this.show = true;
                this.new = false;
                this.affectation = this.affectationmodel;
                this.affkits = [];
                this.affequipments = [];
                // $.notify("Nouvelle ligne mise à jour avec succès!", "success");
            },
            _edit(aff, index) {

                this.currentAffIndex = index;
                this.show = true;
                this.new = false;
                model._apiget("affectation.detail?id=" + aff.id, (response) => {
                    console.log(response);
                    this.affectation = response.affectation;
                    this.affkits = [];
                    this.affequipments = [];

                    response.affectation_kits.forEach((eqk) => {

                        eqk.affectation = this.affectation;
                        this.affkits.push(eqk);

                    });

                    response.affectation_equipments.forEach((affeq) => {

                        affeq.affectation = this.affectation;
                        this.affequipments.push(affeq);

                    });

                })
            },
            getrow(id) {
                console.log(id);
            },
            returnvar(status) {
                alert(status);
                if (status == 1) {
                    return 'success'
                }
                return
            },
            createAffectation() {
                this.affectation.agent = model.getLocalSession().agent;
                console.log("create");
                var rawdata = {};
                rawdata.agent_id = this.affectation.agent.id;

                rawdata.affectation = model.entitytoformentity(this.affectation, ".id");

                if (this.affectation.confirmed)
                    rawdata.affectation.confirmed = 1;

                rawdata.confirmed = this.affectation.confirmed;
                rawdata.affectation_kits = [];
                rawdata.affectation_equipments = [];

                this.affkits.forEach((eqk) => {
                    //console.log(eqk, model.entitytoformentity(eqk, this.affkitformmodel));
                    rawdata.affectation_kits.push(model.entitytoformentity(eqk, ".id"));
                });

                this.affequipments.forEach((affeq) => {
                    console.log(affeq);
                    rawdata.affectation_equipments.push(model.entitytoformentity(affeq, ".id"));

                });

                console.log(rawdata, JSON.stringify(rawdata));
                model._apipost("affectation.create", JSON.stringify(rawdata), (response) => {
                    console.log(response);
                    this.affectationll.listEntity.push(response.affectation);
                    this.affectation = {};
                    this.show = false;

                    if (response.notification) {
                        // todo: implement notification.
                    }

                    // $.notify("Nouvelle ligne mise à jour avec succès!", "success");
                });
            },

            updateAffectation(id) {

                var rawdata = {};
                rawdata.agent_id = this.affectation.agent.id;

                rawdata.affectation = model.entitytoformentity(this.affectation, ".id");

                if (this.affectation.confirmed)
                    rawdata.affectation.confirmed = 1;

                rawdata.confirmed = this.affectation.confirmed;
                console.log(JSON.stringify(rawdata));

                model._apipost("affectation.update?id=" + this.affectation.id,
                    JSON.stringify(rawdata),
                    (response) => {
                        console.log(response, this.currentAffIndex);
                        this.show = false;
                        this.affectation = {};
                        this.show = false;
                        this.affectationll.listEntity[this.currentAffIndex] = response.affectation;
                    });

            },

            setNewaffectation(affequipment) {
                this.affectation.newaffectation = true;
                this.affequipment = affequipment;
                this.dialogbox.open = false;
                //this.setDialog({open: false});
            },
            setDialog(dialog) {
                this.dialogbox = dialog;
            },
            removeaffkit: function (eqk, index) {
                console.log(eqk);

                if (eqk.id)
                    model._apiget("affectation-kit.delete?id=" + eqk.id,
                        (response) => {
                            console.log(response);
                            this.callbackdeletekit(eqk, index)

                        });
                else
                    this.callbackdeletekit(eqk, index);

                // todo: delete all reference in equipment list
                //const nbeq = this.affequipments.length;
                for (let i = 0; i < this.affequipments.length; i++) {
                    // if(!this.affequipments[i])
                    //     continue;

                    if (this.affequipments[i].equipementkit.kit.id === eqk.kit.id) {
                        this.affequipments.splice(i, 1);
                        i = 0;
                    }
                }

            },
            callbackdeletekit(eqk, index) {
                this.affkits.splice(index, 1);
            },

            addaffkit: function (affkit, callback) {
                console.log(affkit);
                affkit.affectation = this.affectation;
                this.affkits.push(affkit);

                // ce callback est utilisé dans AffectationKitComponent pour vider le formulaire et assurer
                // la cohérence des données en creant une nouvelle instance pour le formulaire.
                callback();

                // dans le cas d'une modification de l'affectation, les element de efftkit vont faire la persistence au
                // niveau du component donc on aura son Id. id avec laquelle on pourra persister les lignes affectequip
                // correspondante directement dans le method buildequipmentkit. ce sera moins couteux en terme de requete vers
                // le serveur.
                if (this.affectation.id)
                    return;

                /**
                 * dans le cas ou nous somme dans la creation aucune persistence ne peut etre fait du coup on stock toutes les
                 * données pour les envoyé dans la method create
                 */
                model._apiget("affectation-kit.buildequipment?kitid=" + affkit.kit.id,
                    {quantity: affkit.quantity, agent_id: model.getLocalSession().agent.id}, (response) => {
                        console.log(response);
                        for (var el of response.collection) {
                            console.log(el);
                            el.affectation = this.affectation;
                            this.affequipments.push(el);
                        }
                    });

            },
            equipmentbuilded(collection) {
                console.log('equipmentbuilded', collection);
                for (var el of collection) {
                    console.log(el);
                    el.affectation = this.affectation;
                    this.affequipments.push(el);
                }
            },

            addaffequipment: function (affequipment, callback) {
                console.log(affequipment)
                affequipment.affectation = this.affectation;
                affequipment.equipementkit = {};
                affequipment.label = affequipment.equipementstock.equipment.name
                this.affequipments.push(affequipment);
                callback();
                //this.affequipment = affequipformmodel.entity;
            },
            removeaffequipment: function (eqk, index) {
                console.log(eqk, index);
                const id = eqk.id;
                // this.affequipments.splice(index, 1);
                if (eqk.id)
                    model._apiget("affectation-equipment.delete?id=" + eqk.id, (response) => {
                        console.log(response);
                        this.affequipments.splice(index, 1);
                    });
                else
                    this.affequipments.splice(index, 1);
            },

            persist: function (ev) {
                console.log("tests");
                var el = ev.target;

                var callback = function (response) {
                    console.log(response);
                };

                if (this.affectation.duration <= 0) {
                    alert("vous devez remplire le champ de durée!")
                    return false;
                }

                if (this.affectation.id) {
                    this.updateAffectation(this.affectation.id)
                } else {
                    this.createAffectation();
                }

            },

            loadTable(next = 1) {
                this.spinner = true;
                console.log(next);
                model._apiget('affectation.lazyloading?order=creationdate desc&agent.id:eq=' + model.getLocalSession().agent.id,
                    {
                        "dfilters": "on",
                        "next": next,
                        "per_page": "10",
                        //"order": "this.creationdate desc",
                    }, (data) => {
                        console.log(data);
                        this.affectationll = data;
                        this.spinner = false;
                    })
            },

        },

        mounted() {
            console.log(this.agent);
            // http://protector.spacekola.com/
            this.$http.get(model.baseurl + 'api/affectation.initcomponent?id=' + this.agent.id).then(function (data) {
                console.log(data);
                this.affectationll = data.body.lazyloading;
                this.affectationmodel = data.body.affectation;
                this.affectation = data.body.affectation;
                this.employees = data.body.employees;
                this.kits = data.body.kits;
                this.equipmentstocks = data.body.equipmentstocks;
                console.log(this.equipmentstocks);
                this.affkits = data.body.affkits;
                this.affequipments = data.body.affequips;
                //console.log(this.affequipments)
                this.spinner = false;
                // this.affkitformmodel = JSON.parse(data.body.affkitformmodel);
                // this.affequipformmodel = JSON.parse(data.body.affequipformmodel);
            })
        },
    };
</script>

<style src="./Basic.scss" lang="scss" scoped/>
